<!DOCTYPE html>
<html lang="en">

<head th:replace="~{../console/dev/index.html :: head}">
    <meta charset="utf-8" />
    <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no" />
    <title>dh-console</title>
</head>

<body>
    <noscript> You need to enable JavaScript to run this app. </noscript>
    <div id="root">
        <div class="loader-container">
            <div class="loader">Loading...</div>
        </div>
    </div>
</body>
<script th:inline="javascript">
    //inject config into global from spring env
    var config = [[${ config }]];
    for (c in config) {
        console.log(c, config[c]);
        globalThis[c] = config[c];
    }
</script>

</html>