<div class="pt-3">

    <fieldset>
        <legend class="mb-5">
            Audit log
            <small class="form-text"> Review audit log for the current application</small>
        </legend>
        <div class="row">
            <table class="table table-hover border-bottom">
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>Type</th>
                        <th>Details</th>
                        <th></th>
                    </tr>
                </thead>
                <tr ng-repeat="item in audit">
                    <td class="align-middle">{{item.timestamp * 1000 | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
                    <td class="align-middle">{{item.type | uppercase}}</td>
                    <td class="align-middle">
                        <div ng-if="item.type == 'CLIENT_AUTHENTICATION_SUCCESS' && item.data.details" class="text-secondary">
                            IP <small class="text-monospace"> {{item.data.details.remoteAddress }} </small><br>
                            Browser <small class="text-monospace"> {{item.data.details.userAgent }} </small>
                        </div>
                        <div ng-if="item.type == 'CLIENT_AUTHENTICATION_FAILURE' && item.data.details" class="text-secondary">
                            IP <small class="text-monospace"> {{item.data.details.remoteAddress }} </small><br>
                            Browser <small class="text-monospace"> {{item.data.details.userAgent }} </small>
                        </div>
                        <div ng-if="item.type == 'OAUTH2_TOKEN_GRANT' && item.data" class="text-secondary">
                            Principal <small class="text-monospace"> {{item.principal }} </small><br>
                            Scope <small class="text-monospace"> {{item.data.scope.join(', ') }} </small>
                        </div>                        
                    </td>
                    <td class="text-right">
                        <button class="btn btn-primary btn-sm" ng-click="inspectDlg(item)">View</button>
                    </td>
                </tr>
            </table>
        </div>
    </fieldset>
</div>