<div class="pt-3">

    <fieldset>
        <legend class="mb-5">
            OAuth2.0 Configuration
            <small class="form-text"> Basic client configuration for OAuth2/OpenId Connect</small>
        </legend>
        <div class="row">
            <div class="form-group col">
                <div class="input-group">
                    <label for="clientid" class="active">Client ID</label>
                    <input type="text" class="form-control input-password" id="clientid" ng-model="app.clientId"
                        readonly>

                    <div class="input-group-append">
                        <button class="btn btn-primary btn-sm  text-right" ng-click="copyText(app.clientId)">
                            <svg class="icon icon-sm icon-white">
                                <use xlink:href="./italia/svg/sprite.svg#it-copy"></use>
                            </svg>
                        </button>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col">
                <div class="bootstrap-select-wrapper border-bottom-0">
                    <label>Authentication methods</label>
                    <select title="Select" multiple="true" data-multiple-separator=""
                        ng-model="app.configuration.authenticationMethods">
                        <option ng-repeat="am in configurationSchema.properties.authenticationMethods.items.enum"
                            ng-value="am"
                            data-content="<span class='select-pill'><span class='select-pill-text'>{{am}}</span></span>">
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="form-group col-12" ng-if="oauth2hasSecret(app.configuration.authenticationMethods)">
                <div class="input-group">
                    <label for="secret" class="active">Client secret</label>
                    <input type="password" class="form-control input-password" id="secret"
                        ng-model="app.configuration.clientSecret" readonly>

                    <div class="input-group-append">
                        <button class="btn btn-primary btn-sm  text-right"
                            ng-click="copyText(app.configuration.clientSecret)">
                            <svg class="icon icon-sm icon-white">
                                <use xlink:href="./italia/svg/sprite.svg#it-copy"></use>
                            </svg>
                        </button>
                        <button class="btn btn-danger btn-sm  text-right"
                            ng-click="resetClientCredentialsDlg(app, 'credentials_secret')">
                            <svg class="icon icon-sm icon-white">
                                <use xlink:href="./italia/svg/sprite.svg#it-exchange-circle"></use>
                            </svg>
                        </button>
                        <button class="btn btn-danger btn-sm  text-right"
                            ng-click="removeClientCredentialsDlg(app, 'credentials_secret')">
                            <svg class="icon icon-sm icon-white">
                                <use xlink:href="./italia/svg/sprite.svg#it-delete"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>

            <div class="form-group col-12" ng-if="app.configuration.authenticationMethods.includes('private_key_jwt')">
                <div class="input-group">
                    <label for="jwks" class="active">Client Key Set (JWKS)</label>
                    <input type="text" class="form-control" id="jwks" ng-model="app.configuration.jwks" readonly>

                    <div class="input-group-append">
                        <button class="btn btn-primary btn-sm  text-right" ng-click="copyText(app.configuration.jwks)">
                            <svg class="icon icon-sm icon-white">
                                <use xlink:href="./italia/svg/sprite.svg#it-copy"></use>
                            </svg>
                        </button>
                        <button class="btn btn-danger btn-sm  text-right"
                            ng-click="resetClientCredentialsDlg(app, 'credentials_jwks')">
                            <svg class="icon icon-sm icon-white">
                                <use xlink:href="./italia/svg/sprite.svg#it-exchange-circle"></use>
                            </svg>
                        </button>
                        <button class="btn btn-danger btn-sm  text-right"
                            ng-click="removeClientCredentialsDlg(app, 'credentials_jwks')">
                            <svg class="icon icon-sm icon-white">
                                <use xlink:href="./italia/svg/sprite.svg#it-delete"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>

        </div>



    </fieldset>

    <fieldset class="collapse-div collapse-right-icon" role="tablist">
        <legend class="collapse-header mb-5">
            Grant types
            <small class="form-text"> OAuth2 authorization grant configuration</small>
        </legend>
        <div class="row">
            <div class="form-group col">
                <div class="bootstrap-select-wrapper border-bottom-0">
                    <label>Grant types</label>
                    <select title="Select" multiple="true" data-multiple-separator=""
                        ng-model="app.configuration.authorizedGrantTypes">
                        <option ng-repeat="gt in configurationSchema.properties.authorizedGrantTypes.items.enum"
                            ng-value="gt"
                            data-content="<span class='select-pill'><span class='select-pill-text'>{{gt}}</span></span>">
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col">
                <label class="active">Redirect uris</label>
                <tags-input type="url" placeholder="Add a redirect URL" ng-model="oauth2RedirectUris"></tags-input>
            </div>
        </div>
    </fieldset>

    <fieldset class="collapse-div collapse-right-icon" role="tablist">
        <legend class="collapse-header mb-5">
            Advanced Configuration
            <small class="form-text"> OAuth2 advanced client configuration</small>
        </legend>
        <div class="row">
            <div class="form-group col">
                <div class="bootstrap-select-wrapper border-bottom-0">
                    <label class="active" for="clientName">Application type</label>
                    <select id="applicationType" ng-model="app.configuration.applicationType">
                        <option ng-repeat="at in configurationSchema.properties.applicationType.enum" value="{{at}}"
                            ng-selected="app.configuration.applicationType==at">{{at | limitTo:1 |
                            uppercase}}{{at.substr(1) | lowercase }}</option>
                    </select>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="form-group col">
                <div class="form-check form-check-inline"
                    ng-click="app.configuration.firstParty = !app.configuration.firstParty">
                    <input class="form-check-input" type="checkbox" ng-model="app.configuration.firstParty">
                    <label>First party</label>
                </div>
            </div>
            <div class="form-group col">
                <div class="form-check form-check-inline"
                    ng-click="app.configuration.idTokenClaims = !app.configuration.idTokenClaims">
                    <input class="form-check-input" type="checkbox" ng-model="app.configuration.idTokenClaims">
                    <label>IdToken custom claims</label>
                </div>
            </div>
            <div class="form-group col">
                <div class="form-check form-check-inline"
                    ng-click="app.configuration.refresh_token_rotation = !app.configuration.refresh_token_rotation">
                    <input class="form-check-input" type="checkbox" ng-model="app.configuration.refresh_token_rotation">
                    <label>Refresh token rotation</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col">
                <div class="bootstrap-select-wrapper border-bottom-0">
                    <label class="active" for="subjectType">Subject type</label>
                    <select id="subjectType" ng-model="app.configuration.subjectType">
                        <option value="public" ng-selected="app.configuration.subjectType =='public'">Public</option>
                        <option value="pairwise" ng-selected="app.configuration.subjectType == 'pairwise'">Pairwise
                        </option>
                    </select>
                </div>

            </div>
            <div class="form-group col">
                <div class="bootstrap-select-wrapper border-bottom-0">
                    <label class="active" for="tokenType">Token type</label>
                    <select id="tokenType" ng-model="app.configuration.tokenType">
                        <option value="jwt" ng-selected="app.configuration.tokenType =='jwt'">JWT</option>
                        <option value="opaque" ng-selected="app.configuration.tokenType == 'opaque'">Opaque</option>
                    </select>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="form-group col">
                <label for="accessTokenValidity" class="active">Access token validity (sec)</label>
                <span class="input-number">
                    <input type="number" name=accessTokenValidity class="" id="accessTokenValidity"
                        ng-model="app.configuration.accessTokenValidity">


                </span>
            </div>
            <div class="form-group col">
                <label for="refreshTokenValidity" class="active">Refresh token validity (sec)</label>
                <span class="input-number">
                    <input type="number" name=refreshTokenValidity class="" id="refreshTokenValidity"
                        ng-model="app.configuration.refreshTokenValidity">


                </span>
            </div>
        </div>
    </fieldset>

</div>