<div class="pt-3">

    <fieldset>
        <legend class="mb-4">OAuth2 Credentials
            <small class="form-text">
                Client credentials to authenticate with AAC.
            </small>
        </legend>

        <div class="row">
            <div class="form-group col-12">
                <div class="input-group">
                    <label for="clientid" class="active">Client ID</label>
                    <input type="text" class="form-control input-password" id="clientid" ng-model="app.clientId"
                        readonly>

                    <div class="input-group-append">
                        <button class="btn btn-primary btn-sm  text-right" ng-click="copyText(app.clientId)">
                            <svg class="icon icon-sm icon-white">
                                <use xlink:href="./italia/svg/sprite.svg#it-copy"></use>
                            </svg>
                        </button>
                    </div>

                </div>
            </div>
            <div class="form-group col-12">
                <div class="input-group">
                    <label for="secret" class="active">Client secret</label>
                    <input type="password" class="form-control input-password" id="secret"
                        ng-model="app.configuration.clientSecret" readonly>
       
                    <div class="input-group-append">
                        <button class="btn btn-primary btn-sm  text-right"
                            ng-click="copyText(app.configuration.clientSecret)">
                            <svg class="icon icon-sm icon-white">
                                <use xlink:href="./italia/svg/sprite.svg#it-copy"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>


    </fieldset>
</div>