<div class="pt-3">

    <fieldset>
        <legend class="mb-5">
            Roles
            <small class="form-text"> Manage roles for the current user</small>
        </legend>
        <div class="row">
            <table class="table table-hover border-bottom">
                <tr ng-repeat="item in roles">
                    <td class="align-middle">
                        <h6>{{item.name}}</h6>
                        <p>{{item.description}}</p>
                    </td>
                    <td class="align-middle">
                        ID <span class="small text-monospace bg-light pl-1 pr-1">{{item.authority}}</span>
                        <button class="btn btn-xs btn-link p-0 pb-1" ng-click="copyText(item.authority)">
                            <svg class="icon icon-xs icon-black">
                                <use xlink:href="./italia/svg/sprite.svg#it-copy"></use>
                            </svg>
                        </button>
                    </td>
                    <td class="text-right">
                        <button class="btn btn-danger btn-sm" ng-click="removeRole(item)">Remove</button>
                    </td>
                </tr>
            </table>
            <div class="col-md-12">
                <button class="btn btn-primary btn-sm" ng-click="addRoleDlg()">Add custom role</button>
            </div>
        </div>
    </fieldset>

    <fieldset class="mt-3">
        <legend class="mb-5">
            Permissions
            <small class="form-text"> Manage API permissions for the current user</small>
        </legend>
        <div class="row ">
            <table class="table table-hover">
                <tr ng-repeat="service in approvals">
                    <td class="align-middle">
                        <div class="col-12 avatar-wrapper avatar-extra-text">
                            <div class="avatar size-lg">
                                <svg aria-hidden="true" class="icon icon-secondary">
                                    <use xlink:href="./italia/svg/sprite.svg#it-plug"></use>
                                </svg>
                            </div>
                            <div class="extra-text">
                                <a class="text-decoration-none"
                                    ui-sref="realm.service({realmId:service.realm, serviceId:service.serviceId})">
                                    <span class="h6">{{service.name}}</span>
                                    <br> <small class="text-muted"> {{service.namespace}} </small>
                                </a>
                                <p>{{service.description}}</p>
                            </div>
                        </div>
                    </td>
                    <td class="align-middle">
                        <span ng-repeat="item in service.approvals"><span
                                class="badge {{item.role ? 'badge-secondary' : 'badge-primary'}}">{{item.scope}}</span> </span>
                    </td>

                    <td class="text-right">
                        <button class="btn btn-primary btn-sm" ng-click="editPermissionsDlg(service)">Edit</button>
                    </td>
                </tr>
            </table>

        </div>

    </fieldset>
</div>

<div class="modal popconfirm-modal" tabindex="-1" role="dialog" id="rolesModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add realm role </h5>
            </div>
            <div class="modal-body">
                <p>
                    Add a role for the current user
                </p>
                <form name="roleForm" class="needs-validation was-validated" novalidate>
                    <div class="form-group col pt-4 mb-2">
                        <div class="bootstrap-select-wrapper border-bottom-0">
                            <label class="active" for="role">Role</label>
                            <select required title="Select one" id="role" ng-model="modRole.role" 
                            ng-options="r as r.name for r in modRole.roles track by r.role">
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" type="button" ng-click="addRole()"
                    ng-disabled="roleForm.$invalid">Add</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade bs-modal-lg" id="permissionsModal" tabindex="-1" role="dialog" aria-labelledby="permissionsModal"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h3 class="modal-title" id="modal-title">Edit Service permission</h3>
            </div>
            <form class="needs-validation was-validated" novalidate name="approvalForm">
                <div class="modal-body" id="modal-body">
                    <h6>{{modApprovals.name}}</h6>
                    <p class="mb-4">{{modApprovals.description}}</p>
                    <input type="hidden" class="form-control form-control-sm" id="serviceId"
                        ng-model="modApprovals.serviceId">
                    <div class="form-check form-check-group" ng-repeat="s in modApprovals.scopes"
                        ng-click="s.value = !s.value ">
                        <input class="form-check-input" type="checkbox" ng-model="s.value" ng-disabled="s.locked">
                        <label><strong>{{s.name}}</strong></label>
                        <small class="form-text"><span class="text-monospace"> {{s.scope}} </span></small>
                        <small class="form-text"> {{s.description}}</small>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" type="button" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary" type="button" ng-click="updatePermissions()"
                        ng-disabled="approvalForm.$invalid">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>