<div class="pt-3">

    <fieldset>
        <legend class="mb-4">Client applications
            <small class="form-text">
                Dedicated clients to support token usage and test backend API. The clients are internally managed and
                kept in sync with service configuration. With the except of the <em>introspect</em> clients, do not use
                test applications in production.
            </small>

        </legend>
        <div class="row">
            <div class="col col-12 text-right">
                <button class="btn btn-primary text-right dropdown-toggle" type="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <svg class="icon icon-sm icon-white">
                        <use xlink:href="./italia/svg/sprite.svg#it-plus"></use>
                    </svg>
                </button>
                <div class="dropdown-menu">
                    <div class="link-list-wrapper">
                        <ul class="link-list">
                            <li><a class="list-item" href=""
                                    ng-click="createClientDlg('introspect')"><span>Introspect</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="clients && clients.length > 0">
            <table class="table table-hover border-bottom">
                <tr ng-repeat="item in clients">
                    <td class="align-middle">
                        <span class="h6">{{item.name}}</span> <br>
                        <small class="text-muted"> {{item.type }}</small>
                        <p>{{item.description}}</p>
                    </td>
                    <td class="text-right">
                        <button class="btn btn-secondary btn-sm"
                            ui-sref="realm.appstart({realmId:service.realm, clientId:item.clientId})">Use</button>
                        <button class="btn btn-danger btn-sm" ng-click="removeClient(item)">Delete</button>
                    </td>
                </tr>
            </table>
        </div>
    </fieldset>
</div>

<div class="modal popconfirm-modal" tabindex="-1" role="dialog" id="clientModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create client </h5>
            </div>
            <div class="modal-body">
                <form name="createAppForm" class="needs-validation was-validated" novalidate>
                    <div class="form-group col pt-4">
                        <div class="bootstrap-select-wrapper border-bottom-0">
                            <label for="type">Client Type*</label>
                            <select required title="Select one" id="type" ng-model="modClient.type">
                                <option value="introspect" ng-selected="modClient.type=='introspect'"> Introspect
                                </option>
                            </select>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" type="button" ng-click="createClient()"
                    ng-disabled="createAppForm.$invalid">Create</button>
            </div>
        </div>
    </div>
</div>