target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

.project

.classpath

*.prefs

.settings/org.eclipse.wst.common.project.facet.core.xml

.settings/org.eclipse.wst.common.project.facet.core.prefs.xml


.DS_Store

aac.log

*.log
/logs/
