<div class="container">
<div class="row" ng-controller="AdminController">
  <div class="col-md-2">
    <div class="sidebar-nav well">
       <ul class="nav nav-pills nav-stacked">
         <li ng-class="{'active':adminView == 'approvals'}"><a ng-click="adminView='approvals';title='App Approvals'">App approvals</a></li>
         <li ng-class="{'active':adminView == 'idps'}"><a ng-click="adminView='idps';title='IdP Approvals'">IdP approvals</a></li>
         <li ng-class="{'active':adminView == 'providers'}"><a ng-click="adminView='providers';title='API Providers'">API Providers</a></li>
       </ul>
    </div>
    <!--/.well -->
  </div>
  <!--/span-->
  <div class="col-md-9 well">
    <div class="alert alert-danger" ng-show="error != ''">{{error}}</div>
    <div class="alert alert-success" ng-show="info != ''">{{info}}</div>
    <div class="row">
      <div class="span7">
          <strong>{{title}}</strong>
      </div>
    </div>
    <div ng-include="'./html/'+adminView+'.html'"></div>
  </div>
  <!--/span-->
</div>
<!--/row-->
</div>