<div>
	<div class="header">
		<h3>API: {{api.name}}</h3>
		<p ng-if="!!api.description">{{api.description}}</p>
	</div>
	<div class="app-description">
	  <div class="row"> 
	    <div class="col-md-2"><img ng-src="{{!!api.thumbnailUri ? api.thumbnailUri :'./img/defaultPhoto.png'}}" width="100%"></div>
	    <div class="col-md-10">
				<table class="table">
					<tr>
						<th>Version</th>
						<td>{{api.version}}</td>
					</tr>
					<tr>
						<th>Status</th>
						<td>{{api.status}}</td>
					</tr>
		      <tr>
		        <th>Provider</th>
		        <td>{{api.provider}}</td>
		      </tr>
          <tr>
            <th>Required roles</th>
            <td>{{api.roles.length >0 ? api.roles.join(', ') : 'No roles assigned'}}</td>
          </tr>
				</table>
			</div>
    </div>
	</div>
	<div>
	  <h2>Manage role assignment</h2>
    <table class="table border-bottom table-hover">
      <thead><tr><th>User</th><th>App</th><th>Status</th><th>Roles</th><th></th></tr></thead>
      <tr ng-repeat="sub in api.subscriptions.list">
        <td class="align-middle">{{sub.subscriber}}</td>
        <td class="align-middle">{{sub.appName}}<br/>({{sub.applicationId}})</td>
        <td class="align-middle">{{sub.status}}</td>
        <td class="align-middle">{{sub.roles.join(', ')}}</td>
        <td class="align-middle"><button class="btn btn-link" ng-click="changeRoles(sub)">Change roles</button></td>
      </tr>
    </table>
    <div class="text-center">
        <ul class="pagination justify-content-center">
          <li class="page-item" ng-class="{disabled: page.currentPage == 1}">
            <a class="page-link" href ng-click="prevPage()">&laquo;</a>
          </li>
          <li class="page-item">
            <a class="page-link" href>{{page.currentPage}}</a>
          </li>
          <li class="page-item"  ng-class="{disabled: !api || !api.subscriptions || api.subscriptions.list.length < page.limit}">
            <a class="page-link" href ng-click="nextPage()">&raquo;</a>
          </li>
        </ul>
    </div>    
	</div>

</div>

<div ng-include="'./html/roles.modal.html'"></div>