<div>
	<div class="header">
		<h1>API: {{api.name}}</h1>
		<h4 ng-if="!!api.description">{{api.description}}</h4>
	</div>
	<div class="app-description">
	  <div class="row"> 
	    <div class="col-md-2"><img ng-src="{{!!api.thumbnailUri ? api.thumbnailUri :'./img/defaultPhoto.png'}}" width="100%"></div>
	    <div class="col-md-10">
				<table class="table">
					<tr>
						<td>Version</td>
						<td>{{api.version}}</td>
					</tr>
					<tr>
						<td>Status</td>
						<td>{{api.status}}</td>
					</tr>
		      <tr>
		        <td>Provider</td>
		        <td>{{api.provider}}</td>
		      </tr>
          <tr>
            <td>Required roles</td>
            <td>{{api.roles.length >0 ? api.roles.join(', ') : 'No roles assigned'}}</td>
          </tr>
				</table>
			</div>
    </div>
	</div>
	<div ng-if="api.roles.length > 0">
	  <h2>Manage role assignment</h2>
    <table class="table">
      <thead><tr><th>User</th><th>App</th><th>Status</th><th>Roles</th><th></th></tr></thead>
      <tr ng-repeat="sub in api.subscriptions.list">
        <td>{{sub.subscriber}}</td>
        <td>{{sub.appName}}<br/>({{sub.applicationId}})</td>
        <td>{{sub.status}}</td>
        <td>{{sub.roles.join(', ')}}</td>
        <td><a ng-click="changeRoles(sub)">Change roles</a></td>
      </tr>
    </table>
    <div class="text-center">
      <ul uib-pagination total-items="page.totalItems" ng-model="page.currentPage" items-per-page="page.limit" max-size="1" class="pagination-sm" ng-change="pageChanged()"></ul>		
    </div>    
	</div>

</div>