<div class="pb-3 pt-3">
  <h3>App Approvals</h3>
</div>
<div class="accordion" id="permissions">
 <table class="table table-hover border-bottom"  ng-if="approvals && approvals.length > 0">
      <thead>
      <tr><th>Client App</th><th>Owner</th><th>Resources</th><th></th></tr>
      </thead>
    <tr ng-repeat="item in approvals">
      <td class="align-middle">{{item.name}}</td>
      <td class="align-middle">{{item.owner}}</td>
      <td class="align-middle">
           <div ng-repeat="r in item.resources">
               <div class="row-fluid">
                  <div class="span6"><strong>{{r.resourceUri}}</strong></div>
                  <div class="span6">{{r.name}}</div>
               </div>
            </div>
      </td>
     <td class="text-right"><button class="btn btn-link"  ng-click="approve(item.clientId)">Approve</button></td>
    </tr>
  </table>
  
  <div ng-if="approvals == null || approvals.length == 0">
    <h5>No data</h5>
  </div>   
  
</div>    
