<div class="container">
	<div class="row mb-3">
		<div class="col col-md-6 p-3">
			<h3>Client Apps</h3>
		</div>
		<div class="col col-md-6 text-right">
			<button class="btn btn-primary text-right" type="button"
				ng-click="newClient()">New app</button>
		</div>
	</div>
	<table class="table table-hover border-bottom">
		<tr ng-repeat="item in apps" ng-click="switchClient(item.clientId)">
			<td class="align-middle">
			<a href><strong>{{item.displayName}}</strong></a>
				<br><span class="text-muted">{{item.clientId}}</span>
				<p>{{item.name}}</p>
				</td>
			<td class="text-right"><button class="btn btn-link">Details</td>
		</tr>
	</table>
</div>
