<div>
	<p>{{'customization.howto_message'| translate}}</p>
</div>
<form role="form" name="customizationForm">
	<table class="table table-bordered align-middle">
		<tr>
			<th>header text</th>
			<td>
				<div ui-ace="aceOption" ng-model="app.headerText"></div>
			</td>
		</tr>
		<tr>
			<th>footer text</th>
			<td>
				<div ui-ace="aceOption" ng-model="app.footerText"></div>
			</td>
		</tr>
		<tr>
			<th>login text</th>
			<td>
				<div ui-ace="aceOption" ng-model="app.loginText"></div>
			</td>
		</tr>
		<tr>
			<th>registration text</th>
			<td>
				<div ui-ace="aceOption" ng-model="app.registrationText"></div>
			</td>
		</tr>
		<tr>
			<th>access confirmation text</th>
			<td>
				<div ui-ace="aceOption" ng-model="app.accessConfirmationText"></div>
			</td>
		</tr>
		<tr>
			<th>client info uri</th>
			<td><input type="text" class="form-control form-control-sm"
				ng-model="app.infoUri"></td>
		</tr>
	</table>
	<button type="button" ng-click="saveCustomization()"
		class="btn btn-primary float-right" ng-disabled="jwtForm.$invalid">Save</button>

</form>
