<table class="table table-bordered align-middle">
    <tr>
        <th>name</th>
        <td>{{app.name}}</td>
    </tr>
    <tr>
        <th>display name</th>
        <td>{{app.displayName}}</td>
    </tr>
    <tr>
        <th>clientId</th>
        <td>{{app.clientId}}</td>
    </tr>
    <tr>
        <th>clientSecret</th>
        <td>{{app.clientSecret}}</td>
    </tr>
    <tr>
        <th>clientSecret mobile</th>
        <td>{{app.clientSecretMobile}}</td>
    </tr>
    <tr>
        <th>redirect Web server URLs</th>
        <td>{{app.redirectUris.split(',').join(', ')}}</td>
    </tr>
    <tr>
        <th>Grant types</th>
        <td>{{showGrantTypes(app)}}</td>
    </tr>
    <tr>
        <th>Enabled identity providers</th>
        <td>{{identityProviders(app)}}</td>
    </tr>
    
</table>

<table class="table table-borderless">
    <tr><td><a href ng-click="getClientToken()">Get client credentials flow token</a></td><td>{{clientToken}}</td><td ng-if="clientToken"><a ng-click="copyBearer(clientToken)">Copy Bearer</a></td></tr>
    <tr><td><a href ng-click="getImplicitToken()">Get implicit flow token</a></td><td>{{implicitToken}}</td><td ng-if="implicitToken"><a ng-click="copyBearer(implicitToken)">Copy Bearer</a></td></tr>
</table>
