  <table class="table table-bordered">
	  <tr ng-repeat="item in services">
	    <td> 
	    <bold><a ng-click="changeServicePermissions(item)">{{item.name}}</a></bold>
	    <p/>
      {{item.description}}
      </td>
      <td><a ng-if="item.apiId != null" class="btn btn-mini btn-success pull-right" ng-click="subscribe(item.apiId)">Subscribe</a><a ng-if="item.subscriptionId != null" class="btn btn-mini btn-danger pull-right" ng-click="unsubscribe(item.subscriptionId)">Unsubscribe</a></td>
	  </tr>
  </table>
  <div ng-include="'./html/service-perm.html'"></div>

