 <div  ng-controller="APIProviderController">
	<div class="row mb-3">
	  <div class="col-md-6 p-3">
	        <h3>Client Apps</h3>
	  </div> 
		<div class="col-md-6 text-right">
			<button class="btn btn-primary" type="button"
				ng-click="newProvider()">New provider</button>
		</div>
	</div>


	<div ng-if="providers.length > 0">
		<table class="table table-hover">
		  <thead>
		  <tr><th>Name (email)</th><th>domain</th></tr>
		  </thead>
		  <tbody>
			<tr ng-repeat="p in providers">
				<td><strong>{{p.name}} {{p.surname}}</strong><br>
				<span>({{p.email}})</span></td>
				<td>{{p.domain}}</td>
			</tr>
			</tbody>
		</table>
		<div class="text-center">
			<ul uib-pagination total-items="page.totalItems"
				ng-model="page.currentPage" items-per-page="page.limit" max-size="1"
				class="pagination-sm" ng-change="pageChanged()"></ul>
		</div>
	</div>
	<div ng-if="providers == null || providers.length == 0">
		<h5>No data</h5>
	</div>
<div ng-include="'./html/provider.modal.html'"></div>
</div>


