<div class="modal fade bs-modal-lg" id="providerModal" tabindex="-1" role="dialog" aria-labelledby="serviceperm" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
			<div class="modal-header bg-primary text-white">
				<h3 class="modal-title" id="modal-title">New API Provider</h3>
			</div>
			<form name="providerForm" novalidate>
			<div class="modal-body" id="modal-body">
			  <div class="form-group">
			    <label for="domain">Domain</label>
			    <input type="text" class="form-control" name="domain" id="domain" placeholder="Domain" ng-model="provider.domain" required>
          <div ng-if="providerForm.domain.$touched && providerForm.domain.$invalid" class="invalid-feedback">Field required</div>
			  </div>
			  <div class="form-group">
			    <label for="email">Email</label>
			    <input type="email" name="email" class="form-control" id="email" placeholder="Email" ng-model="provider.email">
			    <div ng-if="providerForm.email.$touched && providerForm.email.$invalid" class="invalid-feedback">Invalid email</div>
			  </div>
			  <div class="form-group">
			    <label for="name">First Name</label>
			    <input type="text" name="name" class="form-control" id="name" placeholder="First Name" ng-model="provider.name" required>
          <div ng-if="providerForm.name.$touched && providerForm.name.$invalid" class="invalid-feedback">Field required</div>
			  </div>
			  <div class="form-group">
			    <label for="surname">Last Name</label>
			    <input type="text" name="surname" class="form-control" id="surname" placeholder="Last Name" ng-model="provider.surname" required>
          <div ng-if="providerForm.surname.$touched && providerForm.surname.$invalid" class="invalid-feedback">Field required</div>
			  </div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" type="button" ng-click="providerForm.$setUntouched();createProvider()" ng-disabled="!provider.name || !provider.surname || !provider.email || !provider.domain">OK</button>
				<button class="btn btn-warning" type="button" ng-click="providerForm.$setUntouched();dismiss()">Cancel</button>
			</div>
			</form>
		</div>
	</div>	
</div>		