<div class="pb-3 pt-3">
<div>
  <div class="row">
    <div class="col col-md-9">
      <h4>{{service.name}}</h4>
      <p>{{service.namespace || ' - '}}</p>
    </div>
    <div class="col col-md-3 text-right">
      <button class="btn btn-primary" type="button" ng-click="editService()">Edit</button>
      <button class="btn btn-info" type="button" ng-click="exportService()">Export</button>
      <button class="btn btn-danger" type="button" ng-click="removeService()">Delete</button>
    </div>
  </div>

  <p>{{service.description}}
  

  <div class="row"><p/></div>
  <div class="row">
    <div class="col-md-11"><h4>Service scopes</h4></div>
    <div class="col-md-1 text-right"><a class="btn btn-xs btn-primary btn-icon" ng-click="editScope()">
    <svg class="icon icon-white"><use xlink:href="./italia/svg/sprite.svg#it-plus"></use></svg>    
    </a></div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table  table-sm table-hover border-bottom" ng-if="service.scopes && service.scopes.length > 0">
        <tr>
          <th>Scope</th><th>Authority</th><th></th>
        </tr>
        <tr ng-repeat="scope in service.scopes">
          <td>
            <strong>{{scope.scope}}</strong>
            <br><span class="small">{{scope.name}}: {{scope.description}}</span>
            <div ng-if="scope.approvalRequired || scope.approvalFunction || scope.approvalRoles && scope.approvalRoles.length > 0 || scope.approvalSpaceRoles && scope.approvalSpaceRoles.length > 0">
              <span>{{scope.approvalAny ? 'One of': 'All of'}}: </span>
	            <span ng-if="scope.approvalRoles && scope.approvalRoles.length > 0"><i class="small">realm roles: {{scope.approvalRoles.join(', ')}}</i>; </span>
	            <span ng-if="scope.approvalSpaceRoles && scope.approvalSpaceRoles.length > 0"><i class="small">global roles: {{scope.approvalSpaceRoles.join(', ')}}</i>; </span>
	            <span ng-if="scope.approvalRequired"><i class="small">explicit approval</i>;</span>
	            <span ng-if="scope.approvalFunction"><i class="small">custom approval function</i><span>            
            </div>
          </td>
          <td>{{scope.type}}</td>
          <td class="text-right">
            <a class="btn btn-xs btn-danger btn-icon pull-right"  ng-click="removeScope(scope)"><svg class="icon icon-white"><use xlink:href="./italia/svg/sprite.svg#it-minus"></use></svg></a>
            <a class="btn btn-xs btn-primary btn-icon pull-right" ng-click="editScope(scope)"><svg class="icon icon-white"><use xlink:href="./italia/svg/sprite.svg#it-pencil"></use></svg></a>
          </td>
        </tr>
       </table>
       <p ng-if="!service.scopes || service.scopes.length == 0">No scopes defined</p>
    </div>
  </div>
  
  <div class="row"><p/></div>
  <div class="row">
    <div class="col-md-11"><h4>Service claims</h4></div>
    <div class="col-md-1 text-right"><a class="btn btn-xs btn-primary btn-icon"  ng-click="editClaim()">
    <svg class="icon icon-white"><use xlink:href="./italia/svg/sprite.svg#it-plus"></use></svg>    
    </a></div>
  </div>

  <div class="row">
    <div class="col">
      <table class="table table-sm table-hover border-bottom" ng-if="service.claims && service.claims.length > 0">
        <tr>
          <th>Claim</th><th>Type</th><th></th>
        </tr>
        <tr ng-repeat="claim in service.claims">
          <td>
            <strong>{{claim.key}}</strong>
            <br><span class="small">{{claim.name}}</span>
          </td>
          <td>
            {{claim.multiple ? ('[' + claim.type +']'): claim.type}}
          </td>
          <td class="text-right">
            <a class="btn btn-xs  btn-danger btn-icon pull-right"  ng-click="removeClaim(claim)"><svg class="icon icon-white"><use xlink:href="./italia/svg/sprite.svg#it-minus"></use></svg></span></a>
            <a class="btn btn-xs btn-primary btn-icon  pull-right" ng-click="editClaim(claim)"><svg class="icon icon-white"><use xlink:href="./italia/svg/sprite.svg#it-pencil"></use></svg></a>
          </td>
        </tr>
      </table>
      <p ng-if="!service.claims || service.claims.length == 0">No claims defined</p>

    </div>
  </div>  
</div>
</div>

<div ng-if="service.claims && service.claims.length > 0">

<div class="row"><p/></div>
<div class="row">
  <div class="col col-md-9"><h4>Client claim mapping</h4>
  <p>Claim mapping function should return fully-qualified claims of the current service ONLY. </p>
  </div>
    <div class="col col-md-3 text-right">
      <button class="btn btn-primary" type="button" ng-click="saveClaimMapping('client')">Update mapping</button>
    </div>
</div>
<div class="row">
  <div class="col">
     <table class="table"> 
        <tr>
            <td width="60%">
              <div class="form-check form-check-inline">
                 <input id="clientclaimenabled" class="form-check-input" type="checkbox" ng-model="claimEnabled['client'].checked" ng-change="toggleClaimMapping('client')">
                <label for="clientclaimenabled">Enable</label>
              </div>               
              <div ui-ace="aceOption" ng-model="service.claimMapping.client"></div>
             </td>
            <th><span ng-if="claimEnabled['client'].checked"><a href="" ng-click="validateClaims('client')">Validate</a></span>
              <br/><br/>
              <div ng-if="claimEnabled['client'].checked">
                 <tags-input type="url" placeholder="Add scopes" class="form-control form-control-sm" ng-model="claimEnabled['client'].scopes"></tags-input>
              </div>
              <br>
              <div ng-if="claimEnabled['client'].checked && validationResult['client']">result: <pre>{{validationResult['client'] | json:4}}</pre></div>
              <div class="text-danger" ng-if="claimEnabled['client'].checked && validationError['client']">{{validationError['client']}}</div>
            </th>
        </tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col col-md-9"><h4>User claim mapping</h4>
  <p>Claim mapping function should return fully-qualified claims of the current service ONLY. </p>
  </div>
    <div class="col col-md-3 text-right">
      <button class="btn btn-primary" type="button" ng-click="saveClaimMapping('user')">Update mapping</button>
    </div>
</div>
<div class="row">
  <div class="col">
     <table class="table"> 
        <tr>
            <td width="60%">
              <div class="form-check form-check-inline">
                 <input id="userclaimenabled" class="form-check-input" type="checkbox" ng-model="claimEnabled['user'].checked" ng-change="toggleClaimMapping('user')">
                <label for="userclaimenabled">Enable</label>
              </div>               
              <div ui-ace="aceOption" ng-model="service.claimMapping.user"></div>
             </td>
            <th><span ng-if="claimEnabled['user'].checked"><a href="" ng-click="validateClaims('user')">Validate</a></span>
              <br/><br/>
              <div ng-if="claimEnabled['user'].checked">
                 <tags-input type="url" placeholder="Add scopes" class="form-control form-control-sm" ng-model="claimEnabled['user'].scopes"></tags-input>
              </div>
              <br>
              <div ng-if="claimEnabled['user'].checked && validationResult['user']">result: <pre>{{validationResult['user'] | json:4}}</pre></div>
              <div class="text-danger" ng-if="claimEnabled['user'].checked && validationError['user']">{{validationError['user']}}</div>
            </th>
        </tr>
    </table>
  </div>
</div>

</div>


<div ng-include="'./html/realm.services.modal.html'"></div>

<div class="modal popconfirm-modal" tabindex="-1" role="dialog" id="deleteConfirm">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-body">
            <p>Are you sure you want to delete?</p>
            <p class="text-danger">ATTENTION: This operation cannot be undone!</p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-danger btn-sm" ng-click="doDelete()" type="button">Delete</button>
            <button class="btn btn-outline-secondary btn-sm" type="button" data-dismiss="modal">Cancel</button>
          </div>
      </div>
    </div>
</div>

<div class="modal fade bs-modal-lg" id="scopeModal" tabindex="-1" role="dialog" aria-labelledby="servicescope" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form class="needs-validation was-validated" novalidate name="scopeForm">
      <div class="modal-header">
        <h4 class="modal-title" id="servicescope">Scope definition</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="row">
                   <div class="col">
                       <label for="inputcontext">Scope  (Required)</label>
                       <input pattern="[:.a-zA-Z]{3,}" type="text" name="scopescope" class="form-control" placeholder="Scope" ng-model="scope.scope" required>
                    <div  ng-if="scopeForm.scopescope.$error.pattern"  class="invalid-feedback">Only letters, ., : accepted, min length 3</div><br>
                       <br>
                   </div>
                   <div class="col">
                       <label for="inputname">Name  (Required)</label>
                        <input type="text" class="form-control"
                            placeholder="Scope name" ng-model="scope.name" required></td>
                       <br>
                   </div>
                   <div class="col">
                       <label for="inputcontext">Authority  (Required)</label>
                       <div class="bootstrap-select-wrapper standard">
                          <select class="form-control" ng-model="scope.type" required>
                            <option value="">Select a value</option>
                            <option value="user" ng-selected="scope.type == 'user'">user</option>
                            <option value="client" ng-selected="scope.type == 'client'">client</option>
                            <option value="generic" ng-selected="scope.type == 'generic'">generic</option>
                          </select>
                       </div>
                       <br>
                   </div>
                 </div>
                <div class="row">
                   <div class="col">
                       <label for="inputcontext">Description  (Required)</label>
                        <input type="text" class="form-control"
                            placeholder="description" ng-model="scope.description" required></td>
                       <br>
                   </div>
                 </div>
                <div class="row">
                   <div class="col">
                       <label for="inputcontext">Claims</label>
                       <div>
                       <tags-input use-strings="true" min-length="1"  add-from-autocomplete-only="true" type="url" placeholder="Add a claim" class="" ng-model="scope.claims">
                        <auto-complete min-length="1" source="loadClaims($query)"></auto-complete>
                       </tags-input>
                       </div>
                       <br>
                   </div>
                 </div>
               <div class="row">
                <div class="col"><h5>Authorizations</h5></div>
                <div class="form-check col text-right">
						      <div class="toggles">
						        <label for="approvalany">
						          One of
						          <input type="checkbox" id="approvalany" ng-model="scope.approvalAny">
						          <span class="lever"></span>
						        </label>
						      </div>
						    </div>
               </div>  
                <div class="row">
                   <div class="col">
                       <label>Authorization with realm roles</label>
                       <tags-input use-strings="true" type="url" placeholder="Add a realm role" class="form-control form-control-sm" ng-model="scope.approvalRoles"></tags-input>
                   <br>
                   </div>
                 </div>                 
                <div class="row">
                   <div class="col">
                       <label>Authorization with global roles</label>
                       <tags-input use-strings="true" type="url" placeholder="Add a global role" class="form-control form-control-sm" ng-model="scope.approvalSpaceRoles"></tags-input>
                   <br>
                   </div>
                 </div>                 
                <div class="row">
                   <div class="col">
                      <div class="form-check">
                        <input type="checkbox" id="explicitcheck" ng-model="scope.approvalRequired">
                       <label for="explicitcheck">Authorization with explicit approval</label>
                      </div>
                      <br>
                   </div>
                 </div>
                 <div class="row">
                  <div class="col">
                    <div class="form-check form-check-inline">
			                 <input id="approvafunctionenabled" class="form-check-input" type="checkbox" ng-model="approvalFunction.checked" ng-change="toggleApprovalFunction()">
			                <label for="approvafunctionenabled">Authorization with approval function</label>
			              </div>               
			              <div ui-ace="aceOption" ng-model="scope.approvalFunction"></div>
                  </div>
                 </div>                 
              </div> 
            </div>  
      </div>
      <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         <button type="submit" class="btn btn-primary" ng-disabled="scopeForm.$invalid" ng-click="saveScope()" >Save</button>
      </div>      
      </form>
    </div>
  </div>
</div>

<div class="modal fade bs-modal-lg" id="claimModal" tabindex="-1" role="dialog" aria-labelledby="serviceclaim" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form class="needs-validation was-validated" novalidate name="claimForm">
      <div class="modal-header">
        <h4 class="modal-title" id="serviceclaim">Claim definition</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="row">
                   <div class="col">
                       <label for="inputcontext">Claim  (Required)</label>
                       <input type="text" name="claimkey" class="form-control" placeholder="Claim" ng-model="claim.key" required>
                        <div  ng-if="claimForm.claimkey.$invalid"  class="invalid-feedback">Claim key required</div><br>
                       <br>
                   </div>
                 </div>                 
                <div class="row">
                   <div class="col">
                       <label for="inputname">Name  (Required)</label>
                        <input type="text" class="form-control" name="claimname"
                            placeholder="Claim name" ng-model="claim.name" required></td>
                        <div  ng-if="claimForm.claimname.$invalid"  class="invalid-feedback">Claim name required</div><br>
                       <br>
                   </div>
                 </div>
                <div class="row">
                   <div class="col">
                       <label for="inputname">Description</label>
                        <input type="text" class="form-control" name="claimdescription"
                            placeholder="Claim description" ng-model="claim.description"></td>
                       <br>
                   </div>
                 </div>
                <div class="row">
                   <div class="col">
                       <label for="inputcontext">Type  (Required)</label>
                       <div class="bootstrap-select-wrapper standard">
                          <select class="form-control" ng-model="claim.type" name="claimptype" required>
                            <option value="">Select a value</option>
                            <option value="string"  ng-selected="claim.type == 'string'">string</option>
                            <option value="number"  ng-selected="claim.type == 'number'">number</option>
                            <option value="boolean" ng-selected="claim.type == 'boolean'">boolean</option>
                            <option value="date"    ng-selected="claim.type == 'date'">date</option>
                            <option value="object"  ng-selected="claim.type == 'object'">object</option>
                          </select>
                       </div>
                       <br>
                   </div>
                 </div>
                <div class="row">
                   <div class="col">
                      <div class="form-check">
                        <input type="checkbox" id="claimmulti" ng-model="claim.multiple" name="claimmulti">
                       <label for="claimmulti">Is array</label>
                      </div>
                      <br>
                   </div>
                 </div>                 
              </div> 
            </div>  
      </div>
      <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         <button type="button" class="btn btn-primary" ng-disabled="claimForm.$invalid" ng-click="saveClaim()" >Save</button>
      </div>      
      </form>
    </div>
  </div>
</div>
