<div class="modal fade bs-modal-lg" id="rolesModal" tabindex="-1" role="dialog" aria-labelledby="serviceperm"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h3 class="modal-title" id="modal-title">Change roles</h3>
            </div>
            <div class="modal-body" id="modal-body">
                <div>
                    <div class="form-group col">
                        <div class="pt-3 pb-3">System roles</div>
                        <fieldset class="form-group mb-2">
                            <div class="form-check" ng-repeat="r in modUser.systemRoles" ng-click="r.value = !r.value">
                                <input class="form-check-input" type="checkbox" ng-model="r.value">
                                <label>{{r.text}}</label>
                            </div>
                        </fieldset>


                    </div>
                    <div class="form-group col">
                        <label class="active">Custom roles</label>
                        <tags-input type="text" placeholder="Add custom roles" ng-model="modUser.customRoles">
                        </tags-input>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" type="button" ng-click="updateRoles()">Update</button>
            </div>
        </div>
    </div>
</div>