<div class="pb-3 pt-3">
    <div class="row">
        <div class="col col-md-6 p-3">
            <h6><a ui-sref="realm.apps({realmId:app.realm})">Client applications
                    &raquo;</a></h6>
        </div>
        <div class="col col-md-6 text-right">
            <button class="btn btn-secondary btn-sm"
                ui-sref="realm.appstart({realmId:app.realm, clientId:app.clientId})">Use</button>
            <button class="btn btn-primary btn-sm  text-right" ng-click="saveClientApp(app)">Save</button>
            <button class="btn btn-secondary btn-sm  text-right" ng-click="exportClientApp(app)">Export</button>
            <button class="btn btn-danger btn-sm  text-right" ng-click="deleteClientAppDlg(app)">Delete</button>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-xs-1">
            <a class="list-item medium px-2 pb-2 pt-1 left-icon" href ui-sref-active="active"
                ui-sref="realm.apps({realmId:app.realm})">
                <svg class="icon icon-xl icon-primary left" aria-hidden="true">
                    <use xlink:href="{{app.icon}}"></use>
                </svg>
            </a>
        </div>
        <div class="col">
            <h3>{{appname}}</h3>
            <p class="text-monospace">
                <span class="small text-monospace bg-light pl-1 pr-1">{{app.clientId}}</span>
                <button class="btn btn-xs btn-link p-0 pb-1" ng-click="copyText(app.clientId)">
                    <svg class="icon icon-xs icon-primary">
                        <use xlink:href="./italia/svg/sprite.svg#it-copy"></use>
                    </svg>
                </button>
            </p>
        </div>
    </div>
</div>

<div class="accordion" id="app">

    <ul class="nav nav-tabs nav-fill">
        <li class="nav-item">
            <a class="nav-link {{activeClientView('overview')}}" href
                ng-click="switchClientView('overview')">Overview</a>
        </li>
        <li ng-if="app.type == 'oauth2'" class="nav-item">
            <a class="nav-link  {{activeClientView('test.oauth2')}}" href
                ng-click="switchClientView('test.oauth2')">Test</a>
        </li>
        <li class="nav-item">
            <a class="nav-link  {{activeClientView('settings')}}" href
                ng-click="switchClientView('settings')">Settings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link  {{activeClientView('idps')}}" href ng-click="switchClientView('idps')">Providers</a>
        </li>
        <li ng-if="app.type == 'oauth2'" class="nav-item">
            <a class="nav-link  {{activeClientView('conf.oauth2')}}" href
                ng-click="switchClientView('conf.oauth2')">OAuth2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link  {{activeClientView('scopes')}}" href ng-click="switchClientView('scopes')">API
                Access</a>
        </li>
        <li class="nav-item">
            <a class="nav-link  {{activeClientView('claims')}}" href ng-click="switchClientView('claims')">Hooks &
                Claims</a>
        </li>
        <li class="nav-item">
            <a class="nav-link  {{activeClientView('roles')}}" href ng-click="switchClientView('roles')">Roles</a>
        </li>
    </ul>
    <div class="tab-content pt-3">
        <div class="tab-pane fade show active">
            <form role="form" name="appForm" class="needs-validation was-validated" novalidate>
                <div ng-include="'./html/app/'+clientView+'.html'"></div>
            </form>
        </div>
    </div>



</div>
<div class="modal popconfirm-modal" tabindex="-1" role="dialog" id="resetClientCredentialsConfirm">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>Are you sure you want to reset credentials?</p>
                <p class="text-danger">ATTENTION: This operation cannot be undone!</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger btn-sm" ng-click="resetClientCredentials()" type="button">Reset</button>
                <button class="btn btn-outline-secondary btn-sm" type="button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="modal popconfirm-modal" tabindex="-1" role="dialog" id="deleteClientAppConfirm">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>Are you sure you want to delete?</p>
                <p class="text-danger">ATTENTION: This operation cannot be undone!</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger btn-sm" ng-click="deleteClientApp()" type="button">Delete</button>
                <button class="btn btn-outline-secondary btn-sm" type="button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>