<div class="pb-3 pt-3">
  <div class="row mb-3">
    <div class="col col-md-6 p-3">
      <h3>Custom services</h3>
      <p>Register and manage custom services for APIs.</p>
    </div>
    <div class="col col-md-6 text-right">
      <button class="btn btn-primary text-right" type="button" ng-click="newService()">
        <svg class="icon icon-sm icon-white">
          <use xlink:href="./italia/svg/sprite.svg#it-plus"></use>
        </svg>
        New Service</button>
      <button class="btn btn-secondary btn-sm" ng-click="importServiceDlg()">Import</button>
    </div>
  </div>
</div>
<div class="accordion" id="services">
  <div ng-if="services && services.length > 0">
    <table class="table table-hover border-bottom">
      <tr ng-repeat="service in services">

        <td class="align-middle">
          <div class="avatar-wrapper avatar-extra-text">
            <div class="avatar size-lg">
              <svg aria-hidden="true" class="icon icon-secondary">
                <use xlink:href="./italia/svg/sprite.svg#it-plug"></use>
              </svg>
            </div>
            <div class="extra-text">
              <a class="text-decoration-none"
                ui-sref="realm.service({realmId:service.realm, serviceId:service.serviceId})">
                <span class="h6">{{service.name}}</span>
                <br> <small class="text-muted"> {{service.namespace}} </small>
              </a>
              <p>{{service.description}}</p>
            </div>
          </div>
        </td>

        <td class="align-middle">
          ID <span class="small text-monospace bg-light pl-1 pr-1">{{service.serviceId}}</span>
          <button class="btn btn-xs btn-link p-0 pb-1" ng-click="copyText(service.serviceId)">
            <svg class="icon icon-xs icon-primary">
              <use xlink:href="./italia/svg/sprite.svg#it-copy"></use>
            </svg>
          </button>
        </td>

        <td class="text-right">
          <button class="btn btn-primary btn-sm text-right dropdown-toggle" type="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">

            Actions
            <svg class="icon-expand icon icon-sm icon-light">
              <use xlink:href="italia/svg/sprite.svg#it-expand"></use>
            </svg>
          </button>
          <div class="dropdown-menu">
            <div class="link-list-wrapper">
              <ul class="link-list">
                <li>
                  <a class="list-item left-icon"
                    ui-sref="realm.service({realmId:service.realm, serviceId:service.serviceId})">
                    <svg class="icon icon-xs icon-primary left">
                      <use xlink:href="./italia/svg/sprite.svg#it-pencil"></use>
                    </svg>
                    <span>Edit</span>
                  </a>
                </li>
                <li>
                  <a class="list-item left-icon text-primary" href="" ng-click="exportService(service)">
                    <svg class="icon icon-xs icon-primary left">
                      <use xlink:href="./italia/svg/sprite.svg#it-download"></use>
                    </svg>
                    Export
                  </a>
                </li>
                <li>
                  <span class="divider"></span>
                </li>
                <li>
                  <a class="list-item left-icon text-danger" href="" ng-click="deleteServiceDlg(service)">
                    <svg class="icon icon-xs icon-danger left">
                      <use xlink:href="./italia/svg/sprite.svg#it-delete"></use>
                    </svg>
                    Delete
                  </a>
                </li>

              </ul>
            </div>
          </div>

        </td>

      </tr>
    </table>
  </div>

  <div ng-if="services && services.length == 0">
    <div class="it-hero-wrapper it-text-centered it-hero-small-size bg-secondary">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="it-hero-text-wrapper bg-dark">
              <h1 class="no_toc">No custom services registered.</h1>
              <p class="d-none d-lg-block">Register an API to define scopes and claims.</p>
              <div class="it-btn-container">
                <button class="btn btn-primary text-right" type="button" ng-click="newService()">
                  <svg class="icon icon-sm">
                    <use xlink:href="./italia/svg/sprite.svg#it-plus"></use>
                  </svg>
                  New Service</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-modal-lg" id="serviceModal" tabindex="-1" role="dialog" aria-labelledby="service"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form ng-submit="saveService()" role="form" class="needs-validation was-validated" novalidate name="serviceForm">
        <div class="modal-header">
          <h4 class="modal-title" id="service">Service definition</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <div class="panel panel-default">
            <div class="panel-body">
              <div ng-if="errorMsg" class="alert alert-danger" role="alert">{{errorMsg}}</div>
              <div class="row">
                <div class=" col">
                  <label for=inputservicename>Service Name (Required)</label>
                  <input type="text" pattern="[\s\S]*\S[\s\S]*" class="form-control" name="inputservicename"
                    id="inputservicename" ng-model="editService.name" required>
                  <div ng-if="serviceForm.inputservicename.$invalid" class="invalid-feedback">Service name required
                  </div><br>
                </div>
              </div>
              <div class="row">
                <div class=" col">
                  <label for="inputservicedescription">Service Description (Required)</label>
                  <input type="text" pattern="[\s\S]*\S[\s\S]*" class="form-control" name="inputservicedescription"
                    id="inputservicedescription" ng-model="editService.description" required>
                  <div ng-if="serviceForm.inputservicedescription.$error.required" class="invalid-feedback">Service
                    description required</div><br>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label for="inputnamespace">Service Namespace (Required)</label>
                  <input ng-readonly="service.serviceId" pattern="[:./\w-]+" type="text" class="form-control"
                    name="inputnamespace" id="inputnamespace" ng-model="editService.namespace"
                    custom-validation="{'nsUsed': !nsError}" required ng-change="changeNS()">
                  <div ng-if="serviceForm.inputnamespace.$error.nsUsed" class="invalid-feedback">Namespace already in
                    use</div>
                  <div ng-if="serviceForm.inputnamespace.$error.required" class="invalid-feedback">Namespace required
                  </div>
                  <div ng-if="serviceForm.inputnamespace.$error.pattern" class="invalid-feedback">Only letters, numbers,
                    ., _, :, /, - accepted</div><br>
                  <br>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" type="button" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary" ng-disabled="serviceForm.$invalid || nsChecking">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="modal popconfirm-modal" tabindex="-1" role="dialog" id="deleteServiceConfirm">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p>Are you sure you want to delete?</p>
        <p>You are deleting service <span class="text-monospace">{{modService.serviceId}}</span> <br>To proceed
          enter the id</p>
        <p class="text-danger">ATTENTION: This operation cannot be undone!</p>
        <form name="deleteServiceForm" class="needs-validation was-validated" novalidate>
          <div class="form-group col mb-4">
            <label for="confirmId">Service Id*</label>
            <input type="text" name="confirmId" class="form-control form-control-sm" id="confirmId" required
              ng-model="modService.confirmId" ng-pattern="(modService.serviceId)">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger btn-sm" ng-click="deleteService()" type="button"
          ng-disabled="deleteServiceForm.$invalid">Delete</button>
        <button class="btn btn-outline-secondary btn-sm" type="button" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>


<div class="modal popconfirm-modal" tabindex="-1" role="dialog" id="importServiceDlg">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Import service </h5>
      </div>
      <div class="modal-body">
        <form name="importServiceForm" enctype="multipart/form-data" class="needs-validation was-validated" novalidate>
          <p>Upload a valid YAML file with the full custom service definition.</p>

          <div class="form-group col pt-4 mb-2">
            <label for="file">File*</label>
            <input type="file" name="file" class="form-control form-control-sm upload" id="file" file-model="importFile"
              required accept=".yaml,.yml,text/yaml,text/yml,application/x-yaml" />
            <ul class="upload-file-list">
              <li class="upload-file success" ng-if="importFile != null">
                <p>
                  {{importFile.name}} <span class="upload-file-weight">{{importFile.size}}</span>
                </p>
              </li>
            </ul>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" type="button" data-dismiss="modal">Cancel</button>
        <button class="btn btn-primary" type="button" ng-click="importService()"
          ng-disabled="importFile == null">Import</button>
      </div>
    </div>
  </div>
</div>