<div class="modal fade bs-modal-lg" id="serviceModal" tabindex="-1" role="dialog" aria-labelledby="service" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form ng-submit="saveService()" role="form" class="needs-validation was-validated" novalidate name="serviceForm">
      <div class="modal-header">
        <h4 class="modal-title" id="service">Scope definition</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
            <div class="panel panel-default">
              <div class="panel-body">
                <div ng-if="errorMsg" class="alert alert-danger" role="alert">{{errorMsg}}</div>
                <div class="row">
                  <div class=" col">
                    <label for=inputservicename>Service Name (Required)</label>
                    <input type="text" pattern="[\s\S]*\S[\s\S]*" class="form-control" name="inputservicename" id="inputservicename" ng-model="editService.name" required>
                    <div  ng-if="serviceForm.inputservicename.$invalid"  class="invalid-feedback">Service name required</div><br>
                  </div>
                </div>
                <div class="row">
                  <div class=" col">
                    <label for="inputservicedescription">Service Description (Required)</label>
                    <input type="text" pattern="[\s\S]*\S[\s\S]*" class="form-control" name="inputservicedescription" id="inputservicedescription" ng-model="editService.description" required>
                    <div ng-if="serviceForm.inputservicedescription.$error.required"  class="invalid-feedback">Service description required</div><br>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <label for="inputnamespace">Service Namespace (Required)</label>
                    <input ng-readonly="service.serviceId" pattern="[:./\w-]+" type="text" class="form-control" name="inputnamespace" id="inputnamespace" ng-model="editService.namespace" custom-validation="{'nsUsed': !nsError}" required ng-change="changeNS()">
                    <div ng-if="serviceForm.inputnamespace.$error.nsUsed" class="invalid-feedback">Namespace already in use</div>
                    <div ng-if="serviceForm.inputnamespace.$error.required" class="invalid-feedback">Namespace required</div>
                    <div ng-if="serviceForm.inputnamespace.$error.pattern" class="invalid-feedback">Only letters, numbers, ., _, :, /, - accepted</div><br>
                    <br>
                  </div>
                </div>                
              </div> 
            </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" type="button" data-dismiss="modal">Cancel</button>
         <button type="submit" class="btn btn-primary" ng-disabled="serviceForm.$invalid || nsChecking" >Save</button>
      </div> 
      </form>     
    </div>
  </div>
</div>
