<div class="pb-3 pt-3">
  <div class="row mb-3">
    <div class="col col-md-6 p-3">
      <h3>Services</h3>
    </div>
    <div class="col col-md-6 text-right">
      <button class="btn btn-primary text-right" type="button" ng-click="newService()">
      <svg class="icon icon-sm icon-white"><use xlink:href="./italia/svg/sprite.svg#it-plus"></use></svg>
      New Service</button>
    </div>
  </div>
</div>
<div class="accordion" id="services">
  <div  ng-if="services && services.length > 0">
    <table class="table table-hover border-bottom">
      <tr ng-repeat="service in services"  >
        <td class="align-middle"><strong>{{service.name}}</strong> <br>{{service.namespace}}<br> <span class="small">{{service.description}}</span></td>
       <td class="text-right">
         <button class="btn btn-success btn-sm" ng-click="serviceApprovals(service)">Approvals</button>
         <button class="btn btn-primary btn-sm" ng-click="switchService(service)">Details</button>
       </td>
      </tr>    
    </table>
  </div>
  
  <div ng-if="services == null || services.length == 0">
    <h5>No data</h5>
  </div>   
  
</div>  
  
<div ng-include="'./html/realm.services.modal.html'"></div>
  