<div class="pb-3 pt-3">
  <div class="row mb-3">
    <div class="col col-md-6 p-3">
      <h3>Identity Providers</h3>
    </div>
    <div class="col col-md-6 text-right">
      <button class="btn btn-primary text-right dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <svg class="icon icon-sm icon-white"><use xlink:href="./italia/svg/sprite.svg#it-plus"></use></svg>
      Add Provider
      <svg class="icon-expand icon icon-sm icon-light"><use xlink:href="italia/svg/sprite.svg#it-expand"></use></svg>
      </button>
      <div class="dropdown-menu">
		    <div class="link-list-wrapper">
		      <ul class="link-list">
		        <li><a class="list-item" href="" ng-click="internalProviderDlg()"><span>Internal</span></a></li>
		        <li><a class="list-item" href="" ng-click="oidcProviderDlg()"><span>OpenID Connect</span></a></li>
		        <li><a class="list-item" href="" ng-click="samlProviderDlg()"><span>SAML</span></a></li>
		      </ul>
		    </div>
		  </div>
    </div>
  </div>
</div>
<div class="accordion" id="providers">
  <div  ng-if="providers && providers.length > 0">
	  <table class="table table-hover border-bottom">
	      <thead>
	      <tr><th>Provider</th><th>Authority</th><th>Enabled</th><th>Active</th><th></th></tr>
	      </thead>
	    <tr ng-repeat="item in providers">
        <td class="align-middle">{{item.name}}</td>
        <td class="align-middle">{{item.authority | uppercase}}</td>
        <td class="align-middle"><div class="form-check form-check-inline"><input ng-attr-id="{{item.provider}}" type="checkbox" ng-checked="item.enabled" ng-model="item.enabled" ng-change="toggleProviderState(item)"><label ng-attr-for="{{item.provider}}"></label>
    </div></td>
        <td class="align-middle"><div class="form-check form-check-inline"><input ng-attr-id="{{item.provider}}-registered" type="checkbox" ng-checked="item.registered" ng-model="item.registered" disabled><label ng-attr-for="{{item.provider}}-registered"></label>
    </div></td>    
  	    <td class="text-right">
         <button class="btn btn-success btn-sm" ng-disabled="item.enabled" ng-click="editProviderDlg(item)">Edit</button>
  	     <button class="btn btn-danger btn-sm"  ng-disabled="item.enabled" ng-click="deleteProviderDlg(item)">Delete</button>
  	    </td>
	    </tr>
	  </table>
  </div>
  
  <div ng-if="providers == null || providers.length == 0">
    <h5>No data</h5>
  </div>   
  
</div>    



<div ng-include="'./html/realm.providers.internal.modal.html'"></div>
<div ng-include="'./html/realm.providers.oidc.modal.html'"></div>
<div ng-include="'./html/realm.providers.saml.modal.html'"></div>

<div class="modal popconfirm-modal" tabindex="-1" role="dialog" id="deleteConfirm">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-body">
            <p>Are you sure you want to delete?</p>
            <p class="text-danger">ATTENTION: This operation cannot be undone!</p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-danger btn-sm" ng-click="deleteProvider()" type="button">Delete</button>
            <button class="btn btn-outline-secondary btn-sm" type="button" data-dismiss="modal">Cancel</button>
          </div>
      </div>
    </div>
</div>