<div class="modal fade bs-modal-lg" id="internalModal" tabindex="-1" role="dialog" aria-labelledby="serviceperm" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
			<div class="modal-header bg-primary text-white">
			  <h3 class="modal-title" id="modal-title">Internal IdP Configuration</h3>
			</div>
			<div class="modal-body" id="modal-body">
			 <form name="editForm"  class="needs-validation was-validated" novalidate >
			  <div class="pt-3 pb-3">User Management</div>
			  <div class="row">
			   <div class="col">
          <div class="form-check">
            <input class="form-check-input" name="enableRegistration" id="enableRegistration" type="checkbox" ng-model="provider.enableRegistration" >
            <label for="enableRegistration">Enable Registration</label>
          </div>
         </div>  
         <div class="col">
          <div class="form-check">
            <input class="form-check-input" name="enableDelete" id="enableDelete" type="checkbox" ng-model="provider.enableDelete" >
            <label for="enableDelete">Enable Delete</label>
          </div>
         </div>  
         <div class="col">
          <div class="form-check">
            <input class="form-check-input" name="enableUpdate" id="enableUpdate" type="checkbox" ng-model="provider.enableUpdate" >
            <label for="enableUpdate">Enable Update</label>
          </div>
			   </div>
			  </div>
			
        <div class="pt-3 pb-3">Confirmation Management</div>
        <div class="row">
         <div class="col">
          <div class="form-check">
            <input class="form-check-input" name="confirmationRequired" id="confirmationRequired" type="checkbox" ng-model="provider.confirmationRequired" >
            <label for="confirmationRequired">Confirmation Required</label>
          </div>
         </div>  
         <div class="form-group col col-md-6 mb-0">
              <label for="confirmationValidity">Confirmation duration (seconds)</label>
              <input type="number" min="0" name="confirmationValidity" class="form-control form-control-sm" id="confirmationValidity" ng-model="provider.confirmationValidity">
          </div>
        </div>        
        
        <div class="pt-3 pb-3">Password Rest Management</div>
        <div class="row">
         <div class="col">
          <div class="form-check">
            <input class="form-check-input" name="enablePasswordReset" id="enablePasswordReset" type="checkbox" ng-model="provider.enablePasswordReset" >
            <label for="enablePasswordReset">Reset Enabled</label>
          </div>
         </div>  
         <div class="col">
          <div class="form-check">
            <input class="form-check-input" name="enablePasswordSet" id="enablePasswordSet" type="checkbox" ng-model="provider.enablePasswordSet" >
            <label for="enablePasswordSet">Allow password set</label>
          </div>
         </div>  
         <div class="form-group col mb-0">
              <label for="passwordResetValidity">Reset duration (seconds)</label>
              <input type="number" name="passwordResetValidity" min="0" class="form-control form-control-sm" id="passwordResetValidity" ng-model="provider.passwordResetValidity">
          </div>
        </div>        
        
        <div class="pt-3 pb-3">Password Policies</div>
        <div class="row">
         <div class="form-group col mb-0">
              <label for="passwordMinLength">Min length</label>
              <input required type="number" name="passwordMinLength" min="1" class="form-control form-control-sm" id="passwordMinLength" ng-model="provider.passwordMinLength">
          </div>
          <div class="form-group col mb-0">
              <label for="passwordMaxLength">Max length</label>
              <input type="number" name="passwordMaxLength" min="1" class="form-control form-control-sm" id="passwordMaxLength" ng-model="provider.passwordMaxLength">
          </div>
        </div>        
        <div class="row">
         <div class="col">
          <div class="form-check">
            <input class="form-check-input" name="passwordRequireAlpha" id="passwordRequireAlpha" type="checkbox" ng-model="provider.passwordRequireAlpha" >
            <label for="passwordRequireAlpha">Require letters</label>
          </div>
         </div>  
         <div class="col">
          <div class="form-check">
            <input class="form-check-input" name="passwordRequireNumber" id="passwordRequireNumber" type="checkbox" ng-model="provider.passwordRequireNumber" >
            <label for="passwordRequireAlpha">Require numbers</label>
          </div>
         </div>  
        </div>        
        <div class="row">
         <div class="col">
          <div class="form-check">
            <input class="form-check-input" name="passwordRequireSpecial" id="passwordRequireSpecial" type="checkbox" ng-model="provider.passwordRequireSpecial" >
            <label for="passwordRequireSpecial">Require special chars</label>
          </div>
         </div>  
         <div class="col">
          <div class="form-check">
            <input class="form-check-input" name="passwordSupportWhitespace" id="passwordSupportWhitespace" type="checkbox" ng-model="provider.passwordSupportWhitespace" >
            <label for="passwordSupportWhitespace">Support whitespace</label>
          </div>
         </div>  
        </div>        
       </form> 
			</div>
			<div class="modal-footer">
        <button class="btn btn-default" type="button" data-dismiss="modal">Cancel</button>
			  <button class="btn btn-primary" type="button" ng-click="saveProvider()" ng-disabled="editForm.$invalid || provider.passwordMaxLength && provider.passwordMaxLength < provider.passwordMinLength">Save</button>
			</div>
    </div>
  </div>  			
</div>  