<div class="pb-3 pt-3">
    <div class="row mb-3">
        <div class="col col-md-6 p-3">
            <h3>Client Applications</h3>
            <p>Manage web, mobile, server and IoT applications</p>
        </div>
        <div class="col col-md-6 text-right">
            <button class="btn btn-primary text-right dropdown-toggle" type="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <svg class="icon icon-sm icon-white">
                    <use xlink:href="./italia/svg/sprite.svg#it-plus"></use>
                </svg>
                Add Client
                <svg class="icon-expand icon icon-sm icon-light">
                    <use xlink:href="italia/svg/sprite.svg#it-expand"></use>
                </svg>
            </button>
            <div class="dropdown-menu">
                <div class="link-list-wrapper">
                    <ul class="link-list">
                        <li><a class="list-item" href="" ng-click="createClientAppDlg('web')"><span>Web</span></a></li>
                        <li><a class="list-item" href="" ng-click="createClientAppDlg('native')"><span>Native</span></a>
                        </li>
                        <li><a class="list-item" href=""
                                ng-click="createClientAppDlg('machine')"><span>Machine</span></a></li>
                        <li><a class="list-item" href="" ng-click="createClientAppDlg('spa')"><span>SPA</span></a></li>
                    </ul>
                </div>
            </div>

            <button class="btn btn-secondary btn-sm" ng-click="importClientAppDlg()">Import</button>
        </div>
    </div>
</div>
<div class="accordion" id="apps">
    <form name="searchApps" class="" novalidate>
        <div class="form-group col">
            <div class="input-group">
                <label for="keywords" class="{{keywords != '' ? 'active' : ''}}">Search</label>
                <input type="text" class="form-control bg-transparent" id="keywords" ng-model="keywords">
                </span>
                <div class="input-group-append">
                    <button class="btn btn-primary btn-sm  text-right" ng-click="runQuery()">
                        <svg class="icon icon-sm icon-white">
                            <use xlink:href="./italia/svg/sprite.svg#it-search"></use>
                        </svg>
                    </button>
                </div>

            </div>
        </div>
    </form>
    <div ng-if="apps && apps.content.length > 0">
        <table class="table table-hover border-bottom">
            <tr ng-repeat="item in apps.content">
                <td class="align-middle">
                    <div class="avatar-wrapper avatar-extra-text">
                        <div class="avatar size-lg">
                            <svg aria-hidden="true" class="icon icon-secondary">
                                <use xlink:href="{{item.icon}}"></use>
                            </svg>
                        </div>
                        <div class="extra-text">
                            <a class="text-decoration-none"
                                ui-sref="realm.appstart({realmId:item.realm, clientId:item.clientId})">
                                <span class="h6">{{item.name}}</span> <br>
                                <small class="text-muted"> {{item.type }} <span
                                        ng-if="item.type == 'oauth2'">{{item.configuration.applicationType}}</span></small>
                            </a>
                            <div>{{item.description}}</div>
                        </div>
                </td>
                <td class="align-middle">
                    ID <span class="small text-monospace bg-light pl-1 pr-1">{{item.clientId}}</span>
                    <button class="btn btn-xs btn-link p-0 pb-1" ng-click="copyText(item.clientId)">
                        <svg class="icon icon-xs icon-primary">
                            <use xlink:href="./italia/svg/sprite.svg#it-copy"></use>
                        </svg>
                    </button>
                </td>

                <td class="align-middle small">
                    <span ng-repeat="r in item._roles"><span class="badge badge-secondary">{{r}}</span> </span>
                    <span ng-repeat="r in item._authorities"><span class="badge badge-primary">{{r}}</span> </span>
                </td>

                <td class="text-right">
                    <button class="btn btn-primary btn-sm text-right dropdown-toggle" type="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                        Actions
                        <svg class="icon-expand icon icon-sm icon-light">
                            <use xlink:href="italia/svg/sprite.svg#it-expand"></use>
                        </svg>
                    </button>
                    <div class="dropdown-menu">
                        <div class="link-list-wrapper">
                            <ul class="link-list">
                                <li>
                                    <a class="list-item left-icon"
                                        ui-sref="realm.appstart({realmId:item.realm, clientId:item.clientId})">
                                        <svg class="icon icon-xs icon-primary left">
                                            <use xlink:href="./italia/svg/sprite.svg#it-password-visible"></use>
                                        </svg>
                                        <span>View</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="list-item left-icon"
                                        ui-sref="realm.app({realmId:item.realm, clientId:item.clientId})">
                                        <svg class="icon icon-xs icon-primary left">
                                            <use xlink:href="./italia/svg/sprite.svg#it-pencil"></use>
                                        </svg>
                                        <span>Edit</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="list-item left-icon text-primary" href=""
                                        ng-click="exportClientApp(item)">
                                        <svg class="icon icon-xs icon-primary left">
                                            <use xlink:href="./italia/svg/sprite.svg#it-download"></use>
                                        </svg>
                                        Export
                                    </a>
                                </li>
                                <li>
                                    <span class="divider"></span>
                                </li>
                                <li>
                                    <a class="list-item left-icon text-danger" href=""
                                        ng-click="deleteClientAppDlg(item)">
                                        <svg class="icon icon-xs icon-danger left">
                                            <use xlink:href="./italia/svg/sprite.svg#it-delete"></use>
                                        </svg>
                                        Delete
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>

                </td>
            </tr>
        </table>

        <nav class="pagination-wrapper" aria-label="pagination">
            <ul class="pagination">
                <li class="page-item" ng-class="{'disabled':apps.first}">
                    <a class="page-link" ng-click="setPage(query.page - 1)">
                        <svg class="icon icon-primary">
                            <use xlink:href="./italia/svg/sprite.svg#it-chevron-left"></use>
                        </svg>
                        <span class="sr-only">Previous page</span>
                    </a>
                </li>
                <li class="page-item" ng-if="apps.pageable.pageNumber - 1 > 0"><a class="page-link"
                        ng-click="setPage(apps.pageable.pageNumber - 2)">{{apps.pageable.pageNumber - 1}}</a></li>
                <li class="page-item" ng-if="apps.pageable.pageNumber > 0"><a class="page-link"
                        ng-click="setPage(apps.pageable.pageNumber - 1)">{{apps.pageable.pageNumber}}</a></li>
                <li class="page-item active">
                    <a class="page-link" aria-current="page"><span class="d-inline-block d-sm-none">Pagina
                        </span>{{apps.pageable.pageNumber + 1}}</a>
                </li>
                <li class="page-item" ng-if="apps.pageable.pageNumber + 1 < apps.totalPages"><a class="page-link"
                        ng-click="setPage(apps.pageable.pageNumber + 1)">{{apps.pageable.pageNumber + 2}}</a></li>
                <li class="page-item" ng-if="apps.pageable.pageNumber + 2 < apps.totalPages"><a class="page-link"
                        ng-click="setPage(apps.pageable.pageNumber + 2)">{{apps.pageable.pageNumber + 3}}</a></li>
                <li class="page-item" ng-class="{'disabled':apps.last}">
                    <a class="page-link" ng-click="setPage(query.page + 1)">
                        <span class="sr-only">Next page</span>
                        <svg class="icon icon-primary">
                            <use xlink:href="./italia/svg/sprite.svg#it-chevron-right"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <div ng-if="apps && apps.content.length == 0">
        <div class="it-hero-wrapper it-text-centered it-hero-small-size bg-secondary">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="it-hero-text-wrapper bg-dark">
                            <h1 class="no_toc">No client registered.</h1>
                            <p class="d-none d-lg-block">Add a client application to start using OAuth2/OIDC.</p>
                            <div class="it-btn-container">
                                <button class="btn btn-primary text-right" type="button"
                                    ng-click="createClientAppDlg()">
                                    <svg class="icon icon-sm ">
                                        <use xlink:href="./italia/svg/sprite.svg#it-plus"></use>
                                    </svg>
                                    Add Client
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="modal popconfirm-modal" tabindex="-1" role="dialog" id="createClientAppDlgOAuth2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create application </h5>
            </div>
            <div class="modal-body">
                <form name="createAppForm" class="needs-validation was-validated" novalidate>
                    <input type="hidden" name="type" ng-model="modClientApp.type" value="oauth2">
                    <div class="form-group col pt-4 mb-2">
                        <label for="name">Client Name*</label>
                        <input type="text" name="name" class="form-control form-control-sm" id="name" required
                            ng-model="modClientApp.name">
                    </div>
                    <div class="form-group col pt-4">
                        <div class="bootstrap-select-wrapper border-bottom-0">
                            <label for="type">Application Type*</label>
                            <select required title="Select one" id="type"
                                ng-model="modClientApp.configuration.applicationType">
                                <option value="web" ng-selected="modClientApp.configuration.applicationType=='web'"> Web
                                </option>
                                <option value="native"
                                    ng-selected="modClientApp.configuration.applicationTypee=='native'"> Native
                                </option>
                                <option value="spa" ng-selected="modClientApp.configuration.applicationType=='spa'"> SPA
                                </option>
                                <option value="machine"
                                    ng-selected="modClientApp.configuration.applicationType=='machine'"> Machine
                                </option>
                            </select>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" type="button" ng-click="createClientApp()"
                    ng-disabled="createAppForm.$invalid">Create</button>
            </div>
        </div>
    </div>
</div>


<div class="modal popconfirm-modal" tabindex="-1" role="dialog" id="deleteClientAppConfirm">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete application </h5>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete {{modClientApp.name}}?</p>
                <p>You are deleting client <span class="text-monospace">{{modClientApp.clientId}}</span> <br>To proceed
                    enter the clientId</p>
                <p class="text-danger">ATTENTION: This operation cannot be undone!</p>

                <form name="deleteAppForm" class="needs-validation was-validated" novalidate>
                    <div class="form-group col mb-4">
                        <label for="confirmId">Client Id*</label>
                        <input type="text" name="confirmId" class="form-control form-control-sm" id="confirmId" required
                            ng-model="modClientApp.confirmId" ng-pattern="(modClientApp.clientId)">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger btn-sm" ng-click="deleteClientApp()" type="button"
                    ng-disabled="deleteAppForm.$invalid">Delete</button>
                <button class="btn btn-outline-secondary btn-sm" type="button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal popconfirm-modal" tabindex="-1" role="dialog" id="importClientAppDlg">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Import application </h5>
            </div>
            <div class="modal-body">
                <form name="importAppForm" enctype="multipart/form-data" class="needs-validation was-validated"
                    novalidate>
                    <p>Provide or upload a valid YAML file with the full client definition, or with a list of valid
                        clients nested under key <em>clients</em>.</p>

                    <div class="form-group col pt-4 mb-4">
                        <label for="file">File*</label>
                        <input type="file" name="file" class="form-control form-control-sm upload" id="file"
                            file-model="importFile.file" accept=".yaml,.yml,text/yaml,text/yml,application/x-yaml" />
                        <ul class="upload-file-list">
                            <li class="upload-file success" ng-if="importFile.file != null">
                                <p>
                                    {{importFile.file.name}} <span class="upload-file-weight">{{importFile.file.size}}</span>
                                </p>
                            </li>
                        </ul>
                    </div>

                    <div class="form-group col pt-4 mb-2">
                        <textarea class="text-monospace" rows="5" name="yaml" id="yaml"
                            ng-model="importFile.yaml"></textarea>
                    </div>


                    <div class="form-group col pt-4 mb-2">
                        <div class="form-check">
                            <input class="form-check-input" name="reset" id="reset" type="checkbox"
                                ng-model="importFile.resetID">
                            <label for="reset">Reset ID(s)</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" type="button" ng-click="importClientApp()"
                    ng-disabled="importFile == null">Import</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-modal-lg" id="rolesModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h3 class="modal-title" id="modal-title">Change roles</h3>
            </div>
            <div class="modal-body" id="modal-body">
                <div class="form-group col">
                    <label class="active">Custom roles</label>
                    <tags-input type="text" placeholder="Add custom roles" ng-model="modClient.roles">
                    </tags-input>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" type="button" ng-click="updateRoles()">Update</button>
            </div>
        </div>

    </div>
</div>