<div class="pb-3 pt-3">
  <div class="row">
    <div class="col col-md-6 p-3">
      <h6><a ui-sref="realm.roles({realmId:role.realm})">Roles
          &raquo;</a></h6>
    </div>
    <div class="col col-md-6 text-right">
      <button class="btn btn-primary" type="button" ng-click="saveRole()">Save</button>
      <button class="btn btn-info" type="button" ng-click="exportRole()">Export</button>
      <button class="btn btn-danger" type="button" ng-click="deleteRole()">Delete</button>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-xs-1 p-2">
      <svg class="icon icon-xl icon-primary left" aria-hidden="true">
        <use xlink:href="./italia/svg/sprite.svg#it-key"></use>
      </svg>
    </div>
    <div class="col">
      <h3>{{rolename}}</h3>
      <p class="text-monospace">
        <span class="small text-monospace bg-light pl-1 pr-1">{{role.role}}</span>
        <button class="btn btn-xs btn-link p-0 pb-1" ng-click="copyText(role.role)">
          <svg class="icon icon-xs icon-primary">
            <use xlink:href="./italia/svg/sprite.svg#it-copy"></use>
          </svg>
        </button>
        <br>
        <span class="small text-monospace bg-light pl-1 pr-1">{{role.roleId}}</span>
        <button class="btn btn-xs btn-link p-0 pb-1" ng-click="copyText(role.roleId)">
          <svg class="icon icon-xs icon-primary">
            <use xlink:href="./italia/svg/sprite.svg#it-copy"></use>
          </svg>
        </button>
      </p>
    </div>
  </div>
</div>


<p>{{roledescription}}</p>


<div class="accordion" id="role">
  <ul class="nav nav-tabs nav-fill">
    <li class="nav-item">
      <a class="nav-link {{activeView('overview')}}" href ng-click="switchView('overview')">Overview</a>
    </li>
    <li class="nav-item">
      <a class="nav-link  {{activeView('settings')}}" href ng-click="switchView('settings')">Settings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link  {{activeView('permissions')}}" href ng-click="switchView('permissions')">Permissions</a>
    </li> 
  </ul>
  <div class="tab-content pt-3">
    <div class="tab-pane fade show active">
      <form role="form" name="providerForm" class="needs-validation was-validated" novalidate>
        <div ng-include="'./html/role/'+formView+'.html'"></div>
      </form>
    </div>
  </div>
</div>

<div class="modal popconfirm-modal" tabindex="-1" role="dialog" id="deleteConfirm">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p>Are you sure you want to delete?</p>
        <p class="text-danger">ATTENTION: This operation cannot be undone!</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger btn-sm" ng-click="doDelete()" type="button">Delete</button>
        <button class="btn btn-outline-secondary btn-sm" type="button" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>