<div class="pb-3 pt-3">
  <div class="row mb-3">
    <div class="col col-md-6 p-3">
      <h3>Realm groups</h3>
      <p>Register and manage realm groups.</p>
    </div>
    <div class="col col-md-6 text-right">
      <button class="btn btn-primary text-right" type="button" ng-click="createGroupDlg()">
        <svg class="icon icon-sm icon-white">
          <use xlink:href="./italia/svg/sprite.svg#it-plus"></use>
        </svg>
        New Group</button>
      <button class="btn btn-secondary btn-sm" ng-click="importGroupDlg()">Import</button>
    </div>
  </div>
</div>
<div class="accordion" id="groups">
  <div ng-if="groups && groups.length > 0">
    <table class="table table-hover border-bottom">
      <tr ng-repeat="item in groups">

        <td class="align-middle">
          <div class="extra-text">
            <a class="text-decoration-none" ui-sref="realm.group({realmId:item.realm, groupId:item.groupId})">
              <span class="h6">{{item.name}}</span>
              <br> <small class="text-muted"> {{item.group}} </small>
            </a>
            <p>{{item.description}}</p>
          </div>
        </td>

        <td class="align-middle">
          ID <span class="small text-monospace bg-light pl-1 pr-1">{{item.groupId}}</span>
          <button class="btn btn-xs btn-link p-0 pb-1" ng-click="copyText(item.groupId)">
            <svg class="icon icon-xs icon-primary">
              <use xlink:href="./italia/svg/sprite.svg#it-copy"></use>
            </svg>
          </button>
        </td>

        <td class="align-middle">
          <span>{{item.size}} members</span>
        </td>

        <td class="text-right">
          <button class="btn btn-primary btn-sm text-right dropdown-toggle" type="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">

            Actions
            <svg class="icon-expand icon icon-sm icon-light">
              <use xlink:href="italia/svg/sprite.svg#it-expand"></use>
            </svg>
          </button>
          <div class="dropdown-menu">
            <div class="link-list-wrapper">
              <ul class="link-list">
                <li>
                  <a class="list-item left-icon" ui-sref="realm.group({realmId:item.realm, groupId:item.groupId})">
                    <svg class="icon icon-xs icon-primary left">
                      <use xlink:href="./italia/svg/sprite.svg#it-pencil"></use>
                    </svg>
                    <span>Edit</span>
                  </a>
                </li>
                <li>
                  <a class="list-item left-icon text-primary" href="" ng-click="exportGroup(item)">
                    <svg class="icon icon-xs icon-primary left">
                      <use xlink:href="./italia/svg/sprite.svg#it-download"></use>
                    </svg>
                    Export
                  </a>
                </li>
                <li>
                  <span class="divider"></span>
                </li>
                <li>
                  <a class="list-item left-icon text-danger" href="" ng-click="deleteGroupDlg(item)">
                    <svg class="icon icon-xs icon-danger left">
                      <use xlink:href="./italia/svg/sprite.svg#it-delete"></use>
                    </svg>
                    Delete
                  </a>
                </li>

              </ul>
            </div>
          </div>

        </td>


      </tr>
    </table>
  </div>

  <div ng-if="groups && groups.length == 0">
    <div class="it-hero-wrapper it-text-centered it-hero-small-size bg-secondary">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="it-hero-text-wrapper bg-dark">
              <h1 class="no_toc">No groups registered.</h1>
              <p class="d-none d-lg-block">Create a realm group to manage users and memberships.</p>
              <div class="it-btn-container">
                <button class="btn btn-primary text-right" type="button" ng-click="createGroupDlg()">
                  <svg class="icon icon-sm">
                    <use xlink:href="./italia/svg/sprite.svg#it-plus"></use>
                  </svg>
                  New group</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="modal popconfirm-modal" tabindex="-1" group="dialog" id="createGroupModal">
  <div class="modal-dialog" group="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create group </h5>
      </div>
      <div class="modal-body">
        <form name="createGroupForm" class="needs-validation was-validated" novalidate>
          <div class="form-group col pt-4 mb-2">
            <label for="name">Group Name*</label>
            <input type="text" name="name" class="form-control form-control-sm" id="name" required
              ng-model="modGroup.name">
          </div>
          <div class="form-group col pt-4 mb-2">
            <label for="group">Group key*</label>
            <input type="text" name="group" class="form-control form-control-sm" id="group" required
              ng-model="modGroup.group">
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" type="button" data-dismiss="modal">Cancel</button>
        <button class="btn btn-primary" type="button" ng-click="createGroup()"
          ng-disabled="createGroupForm.$invalid">Create</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade bs-modal-lg" tabindex="-1" group="dialog" id="importGroupModal">
  <div class="modal-dialog modal-lg" group="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Import group </h5>
      </div>
      <div class="modal-body">
        <form name="importGroupForm" enctype="multipart/form-data" class="needs-validation was-validated" novalidate>
          <p class="mb-4">
            Provide or upload a valid YAML file with the full group definition, or with a list of valid
            groups nested under key <em>groups</em>.
          </p>

          <div class="form-group col pt-2 mb-4">
            <label for="file">File*</label>
            <input type="file" name="file" class="form-control form-control-sm upload" id="file"
              file-model="importFile.file" accept=".yaml,.yml,text/yaml,text/yml,application/x-yaml" />
            <ul class="upload-file-list">
              <li class="upload-file success" ng-if="importFile.file != null">
                <p>
                  {{importFile.file.name}} <span class="upload-file-weight">{{importFile.file.size}}</span>
                </p>
              </li>
            </ul>
          </div>

          <div class="form-group col pt-4 mb-2">
            <textarea class="text-monospace" rows="5" name="yaml" id="yaml" ng-model="importFile.yaml"></textarea>
          </div>


          <div class="form-group col pt-4 mb-2">
            <div class="form-check">
              <input class="form-check-input" name="reset" id="reset" type="checkbox" ng-model="importFile.resetID">
              <label for="reset">Reset ID(s)</label>
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" type="button" data-dismiss="modal">Cancel</button>
        <button class="btn btn-primary" type="button" ng-click="importGroup()"
          ng-disabled="importFile == null">Import</button>
      </div>
    </div>
  </div>
</div>



<div class="modal popconfirm-modal" tabindex="-1" group="dialog" id="deleteGroupModal">
  <div class="modal-dialog" group="document">
    <div class="modal-content">
      <div class="modal-body">
        <p>Are you sure you want to delete?</p>
        <p>You are deleting group <span class="text-monospace">{{modGroup.groupId}}</span> <br>To proceed
          enter the id</p>
        <p class="text-danger">ATTENTION: This operation cannot be undone!</p>
        <form name="deleteGroupForm" class="needs-validation was-validated" novalidate>
          <div class="form-group col mb-4">
            <label for="confirmId">Group Id*</label>
            <input type="text" name="confirmId" class="form-control form-control-sm" id="confirmId" required
              ng-model="modGroup.confirmId" ng-pattern="(modGroup.groupId)">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger btn-sm" ng-click="deleteGroup()" type="button"
          ng-disabled="deleteGroupForm.$invalid">Delete</button>
        <button class="btn btn-outline-secondary btn-sm" type="button" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>