<div class="pb-3 pt-3">
  <div class="row mb-3">
    <div class="col col-md-6 p-3">
      <h3>Service Approvals</h3>
      <h4>{{service.name}}</h4>
    </div>
    <div class="col col-md-6 text-right">
      <button class="btn btn-primary text-right" type="button" ng-click="newApproval()">
      <svg class="icon icon-sm icon-white"><use xlink:href="./italia/svg/sprite.svg#it-plus"></use></svg>
      New Approval</button>
    </div>
  </div>
</div>
<div class="accordion" id="services">
  <div  ng-if="approvals && approvals.length > 0">
    <table class="table table-hover border-bottom">
      <tr ng-repeat="approval in approvals"  >
        <td class="align-middle">{{approval.clientId}}</td>
        <td class="align-middle">{{approval.scope}}</td>
        <td class="text-right">
         <button class="btn btn-danger btn-sm" ng-click="removeApproval(approval)">Delete</button>
       </td>
      </tr>    
    </table>
  </div>
  
    <div ng-if="approvals == null || approvals.length == 0">
    <h5>No data</h5>
  </div> 
</div>  
  
<div ng-include="'./html/realm.services.approvals.modal.html'"></div>
    

<div class="modal popconfirm-modal" tabindex="-1" role="dialog" id="deleteConfirm">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-body">
            <p>Are you sure you want to delete?</p>
            <p class="text-danger">ATTENTION: This operation cannot be undone!</p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-danger btn-sm" ng-click="doDelete()" type="button">Delete</button>
            <button class="btn btn-outline-secondary btn-sm" type="button" data-dismiss="modal">Cancel</button>
          </div>
      </div>
    </div>
</div>    