<div class="modal fade bs-modal-lg" id="webAuthnModal" tabindex="-1" role="dialog" aria-labelledby="serviceperm"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h3 class="modal-title" id="modal-title">WebAuthn IdP Configuration</h3>
            </div>
            <div class="modal-body" id="modal-body">
                <form name="editForm" class="needs-validation was-validated" novalidate>
                    <div class="form-group col mb-4">
                        <label for="clientId">Provider Relying Party Name</label>
                        <input type="text" name="rpName" class="form-control form-control-sm" id="rpName"
                            ng-model="provider.rpName">
                    </div>

                    <div class="pt-3 pb-3">User Management</div>
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" name="enableRegistration" id="enableRegistration"
                                    type="checkbox" ng-model="provider.enableRegistration">
                                <label for="enableRegistration">Enable Registration</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" name="enableUpdate" id="enableUpdate" type="checkbox"
                                    ng-model="provider.enableUpdate">
                                <label for="enableUpdate">Enable Update</label>
                            </div>
                        </div>
                    </div>

                    <div class="pt-3 pb-3">Confirmation Management</div>
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" name="trustUnverifiedAuthenticatorResponses"
                                    id="trustUnverifiedAuthenticatorResponses" type="checkbox"
                                    ng-model="provider.trustUnverifiedAuthenticatorResponses">
                                <label for="trustUnverifiedAuthenticatorResponses">Trust unverified authenticator
                                    responses</label>
                            </div>
                        </div>
                        <div class="form-group col col-md-6 mb-0">
                            <label for="maxSessionDuration">Maximum session duration (seconds)</label>
                            <input type="number" min="0" name="maxSessionDuration" class="form-control form-control-sm"
                                id="maxSessionDuration" ng-model="provider.maxSessionDuration">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" type="button" ng-click="saveProvider()"
                    ng-disabled="editForm.$invalid">Save</button>
            </div>
        </div>
    </div>
</div>