<div class="row">
  <div class="col-md-2">
    <div class="sidebar-wrapper it-line-right-side">
      <div class="sidebar-linklist-wrapper">
        <div class="link-list-wrapper">
          <ul class="link-list">
            <li>
              <div>
                <div ng-if="realms.length > 1" >
	                <a class="font-weight-semibold dropdown-toggle" ng-click="changeRealm()" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	                  <span class="text-primary ">{{realm.name}}</span>
	                  <svg class="icon icon-sm icon-primary"><use xlink:href="./italia/svg/sprite.svg#it-chevron-right"></use></svg>
	                </a>
	                <div class="dropdown-menu dark">
					        <div class="link-list-wrapper">
					          <ul class="link-list">
					            <li ng-repeat="r in realms"><a class="list-item" href="" ng-click="selectRealm(r)"><span>{{r.name}}</span></a></li>
					          </ul>
					        </div>
					      </div>
				      </div>
                
              <h3  ng-if="realms.length == 1">{{realm.name}}</h3>
                
              </div>
              <p class="pl-4 text-monospace text-muted">{{realm.slug}} </p>              
            </li>
            <li>
              <a class="list-item medium" href ui-sref-active="active" ui-sref="realm.dashboard">Dashboard</a>
            </li>
            <li ng-if="realmAdmin && !realmImmutable">
              <a class="list-item medium" href ui-sref-active="active" ui-sref="realm.apps">Client Applications</a>
            </li>
            <li ng-if="realmAdmin">
              <a class="list-item medium" href ui-sref-active="active" ui-sref="realm.users">Users</a>
            </li>
            <li ng-if="realmAdmin && !realmImmutable">
              <a class="list-item medium" href ui-sref-active="active" ui-sref="realm.providers">Identity Providers</a>
            </li>
            <li ng-if="realmAdmin">
              <a class="list-item medium" href ui-sref-active="active" ui-sref="realm.services">Custom Services</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-10">
    <ui-view></ui-view>
  </div>
</div>