<div class="container">
  <div class="row mb-3">
    <div class="col col-md-6 p-3">
      <h3>Services</h3>
    </div>
    <div class="col col-md-6 text-right">
      <button class="btn btn-primary text-right" type="button" ng-click="newService()">New Service</button>
    </div>
  </div>
  <table class="table table-hover border-bottom">
    <tr ng-repeat="service in services"  ng-click="switchService(service)">
      <td class="align-middle"><a href><strong>{{service.serviceId}}</strong></a> <br>{{service.name}}<br> <span class="small">{{service.description}}</span></td>
     <td class="text-right"><button class="btn btn-link">Details</td>
    </tr>
  </table>
</div>
