<div>
  <div class="row">
    <div class="col col-md-9">
		  <h3>{{currService.serviceId}}</h3>
		  <h4>{{currService.name}}</h4>
    </div>
    <div class="col col-md-3 text-right">
		  <button class="btn btn-primary" type="button" ng-disabled="!currService.context" ng-click="startEdit()">Edit</button>
		  <button class="btn btn-danger" type="button" ng-click="removeService()">Delete</button>
    </div>
  </div>

  <p>{{currService.description}}
  <p class="small">Namespace: {{currService.namespace || '-' }}</p>
	<p class="small">Context: {{currService.context || '-' }}</p>
  

  <div class="row"><p/></div>
  <div class="row">
    <div class="col-md-11"><h4>Service scopes</h4></div>
    <div class="col-md-1 text-right"><a class="btn btn-xs btn-primary btn-icon" ng-if="currService.context"  ng-click="editScope()">
		<svg class="icon icon-white"><use xlink:href="./italia/svg/sprite.svg#it-plus"></use></svg>    
    </a></div>
  </div>
  <div class="row">
    <div class="col">
		  <table class="table  table-sm table-hover border-bottom" ng-if="currService.scopes && currService.scopes.length > 0">
		    <tr>
		      <th>Scope</th><th>Authority</th><th></th>
		    </tr>
		    <tr ng-repeat="scope in currService.scopes">
		      <td>
		        <strong>{{scope.scope}}</strong>
            <br><span class="small">{{scope.name}}: {{scope.description}}</span>
            <div ng-if="scope.roles && scope.roles.length > 0"><i class="small">Roles: {{scope.roles.join(', ')}}</i></div>
            <div ng-if="scope.approvalRequired"><b class="small">Requires explicit admin approval</b></div>
		      </td>
		      <td>{{toAuthority(scope.authority)}}</td>
		      <td class="text-right">
		        <a class="btn btn-xs btn-danger btn-icon pull-right"  ng-click="removeScope(scope)"><svg class="icon icon-white"><use xlink:href="./italia/svg/sprite.svg#it-minus"></use></svg></a>
		        <a class="btn btn-xs btn-primary btn-icon pull-right" ng-if="currService.context"  ng-click="editScope(scope)"><svg class="icon icon-white"><use xlink:href="./italia/svg/sprite.svg#it-pencil"></use></svg></a>
		      </td>
        </tr>
       </table>
       <p ng-if="!currService.scopes || currService.scopes.length == 0">No scopes defined</p>
    </div>
  </div>
  
  <div class="row"><p/></div>
  <div class="row">
    <div class="col-md-11"><h4>Service claims</h4></div>
    <div class="col-md-1 text-right"><a class="btn btn-xs btn-primary btn-icon" ng-if="currService.context"  ng-click="editClaim()">
    <svg class="icon icon-white"><use xlink:href="./italia/svg/sprite.svg#it-plus"></use></svg>    
    </a></div>
  </div>

  <div class="row">
    <div class="col">
      <table class="table table-sm table-hover border-bottom" ng-if="currService.claims && currService.claims.length > 0">
        <tr>
          <th>Claim</th><th>Type</th><th></th>
        </tr>
        <tr ng-repeat="claim in currService.claims">
          <td>
            <strong>{{claim.claim}}</strong>
            <br><span class="small">{{claim.name}}</span>
          </td>
          <td>
            {{claim.multiple ? ('[' + claim.type +']'): claim.type}}
          </td>
          <td class="text-right">
		        <a class="btn btn-xs  btn-danger btn-icon pull-right"  ng-click="removeClaim(claim)"><svg class="icon icon-white"><use xlink:href="./italia/svg/sprite.svg#it-minus"></use></svg></span></a>
		        <a class="btn btn-xs btn-primary btn-icon  pull-right" ng-if="currService.context" ng-click="editClaim(claim)"><svg class="icon icon-white"><use xlink:href="./italia/svg/sprite.svg#it-pencil"></use></svg></a>
          </td>
        </tr>
      </table>
      <p ng-if="!currService.claims || currService.claims.length == 0">No claims defined</p>

    </div>
  </div>  
</div>

<div ng-if="currService.claims && currService.claims.length > 0 && currService.context">
<div class="row"><p/></div>
<div class="row">
  <div class="col col-md-9"><h4>Claim mapping</h4>
  <p>Claim mapping function should return fully-qualified claims of the current service ONLY. </p>
  </div>
    <div class="col col-md-3 text-right">
      <button class="btn btn-primary" type="button" ng-click="saveClaimMapping()">Update mapping</button>
    </div>
</div>
<div class="row">
  <div class="col">
     <table class="table"> 
        <tr>
            <td width="60%">
              <div class="form-check form-check-inline">
                 <input id="claimenabled" class="form-check-input" type="checkbox" ng-model="claimEnabled.checked" ng-change="toggleClaimMapping()">
                <label for="claimenabled">Enable</label>
              </div>               
              <div ui-ace="aceOption" ng-model="currService.claimMapping"></div>
             </td>
            <th><span ng-if="claimEnabled.checked"><a href="" ng-click="validateClaims()">Validate</a></span>
              <br/><br/>
              <div ng-if="claimEnabled.checked">
                 <tags-input type="url" placeholder="Add scopes" class="form-control form-control-sm" ng-model="claimEnabled.scopes"></tags-input>
              </div>
              <br>
              <div ng-if="claimEnabled.checked && validationResult">result: <pre>{{validationResult | json:4}}</pre></div>
              <div class="text-danger" ng-if="claimEnabled.checked && validationError">{{validationError}}</div>
            </th>
        </tr>
    </table>
  </div>
</div>
</div>


<form ng-submit="saveService()" role="form" class="needs-validation was-validated" novalidate name="serviceForm">
<div class="modal fade bs-modal-lg" id="serviceModal" tabindex="-1" role="dialog" aria-labelledby="service" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="service">Scope definition</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
            <div class="panel panel-default">
              <div class="panel-body">
							  <div class="row">
							    <div class=" col">
							      <label for="inputserviceid">Service ID (Required)</label>
							      <input type="text" ng-disabled="!!currService.serviceId" class="form-control" id="inputserviceid" ng-model="editService.serviceId" required>
							      <div class="invalid-feedback">Service ID required</div><br>
							    </div>
							  </div>
							  <div class="row">
							    <div class=" col">
							      <label for=inputservicename>Service Name (Required)</label>
							      <input type="text" class="form-control" id="inputservicename" ng-model="editService.name" required>
							      <div class="invalid-feedback">Service name required</div><br>
							    </div>
							  </div>
							  <div class="row">
							    <div class=" col">
							      <label for="inputservicedescription">Service Description (Required)</label>
							      <input type="text" class="form-control" id="inputservicedescription" ng-model="editService.description" required>
							      <div class="invalid-feedback">Service description required</div><br>
							    </div>
							  </div>
							  <div class="row">
							    <div class="col">
							      <label for="inputnamespace">Service Namespace (Required)</label>
							      <input type="text" class="form-control" id="inputnamespace" ng-model="editService.namespace" required>
							      <div class="invalid-feedback">Namespace required</div><br>
							      <br>
							    </div>
							  </div>
							  <div class="row">
							    <div class="col">
							        <label for="inputcontext">Service Context  (Required)</label>
							      <div class="bootstrap-select-wrapper context-select-wrapper standard">
								      <select title="select context value" id="inputcontext" ng-model="editService.context" required>
								      </select>
							     </div>
							     <br>
							    </div>
							  </div>
							  
              </div> 
            </div>  
      </div>
      <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeEdit()">Close</button>
         <button type="submit" class="btn btn-primary" ng-disabled="serviceForm.$invalid" >Save</button>
      </div>      
    </div>
  </div>
</div>
</form>

<form class="needs-validation was-validated" novalidate name="scopeForm">
<div class="modal fade bs-modal-lg" id="scopeModal" tabindex="-1" role="dialog" aria-labelledby="servicescope" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="servicescope">Scope definition</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="row">
                   <div class="col">
                       <label for="inputcontext">Scope  (Required)</label>
                       <input type="text" class="form-control" placeholder="Scope" ng-model="scope.scope" required>
                       <br>
                   </div>
                 </div>                 
                <div class="row">
                   <div class="col">
                       <label for="inputname">Name  (Required)</label>
                        <input type="text" class="form-control"
                            placeholder="Scope name" ng-model="scope.name" required></td>
                       <br>
                   </div>
                 </div>
                <div class="row">
                   <div class="col">
                       <label for="inputcontext">Description  (Required)</label>
                        <input type="text" class="form-control"
                            placeholder="description" ng-model="scope.description" required></td>
                       <br>
                   </div>
                 </div>
                <div class="row">
                   <div class="col">
                       <label for="inputcontext">Authority  (Required)</label>
                       <div class="bootstrap-select-wrapper standard">
                          <select class="form-control" ng-model="scope.authority" required>
                            <option value="">Select a value</option>
                            <option value="ROLE_USER">user</option>
                            <option value="ROLE_CLIENT">client</option>
                          </select>
                       </div>
                       <br>
                   </div>
                 </div>
                <div class="row">
                   <div class="col">
                       <label for="inputcontext">Claims</label>
                       <div>
                       <tags-input add-from-autocomplete-only="true" type="url" placeholder="Add a claim" class="" ng-model="scope.claims">
                        <auto-complete source="loadClaims($query)"></auto-complete>
                       </tags-input>
                       </div>
                       <br>
                   </div>
                 </div>
                <div class="row">
                   <div class="col">
                       <label>Roles</label>
                       <tags-input type="url" placeholder="Add a role" class="form-control form-control-sm" ng-model="scope.roles"></tags-input>
                   <br>
                   </div>
                 </div>                 
                <div class="row">
                   <div class="col">
                      <div class="form-check">
                        <input type="checkbox" id="admincheck" ng-model="scope.approvalRequired">
                       <label for="admincheck">Admin approval</label>
                      </div>
                      <br>
                   </div>
                 </div>                 
              </div> 
            </div>  
      </div>
      <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         <button type="button" class="btn btn-primary" ng-disabled="scopeForm.$invalid" ng-click="saveScope()" >Save</button>
      </div>      
    </div>
  </div>
</div>
</form>


<form class="needs-validation was-validated" novalidate name="claimForm">
<div class="modal fade bs-modal-lg" id="claimModal" tabindex="-1" role="dialog" aria-labelledby="serviceclaim" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="serviceclaim">Claim definition</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="row">
                   <div class="col">
                       <label for="inputcontext">Claim  (Required)</label>
                       <input type="text" class="form-control" placeholder="Claim" ng-model="claim.claim" required>
                       <br>
                   </div>
                 </div>                 
                <div class="row">
                   <div class="col">
                       <label for="inputname">Name  (Required)</label>
                        <input type="text" class="form-control"
                            placeholder="Claim name" ng-model="claim.name" required></td>
                       <br>
                   </div>
                 </div>
                <div class="row">
                   <div class="col">
                       <label for="inputcontext">Type  (Required)</label>
                       <div class="bootstrap-select-wrapper standard">
                          <select class="form-control" ng-model="claim.type" required>
                            <option value="">Select a value</option>
                            <option value="string">string</option>
                            <option value="number">number</option>
                            <option value="boolean">boolean</option>
                            <option value="object">object</option>
                          </select>
                       </div>
                       <br>
                   </div>
                 </div>
                <div class="row">
                   <div class="col">
                      <div class="form-check">
                        <input type="checkbox" id="claimmulti" ng-model="claim.multiple">
                       <label for="claimmulti">Is array</label>
                      </div>
                      <br>
                   </div>
                 </div>                 
              </div> 
            </div>  
      </div>
      <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         <button type="button" class="btn btn-primary" ng-disabled="claimForm.$invalid" ng-click="saveClaim()" >Save</button>
      </div>      
    </div>
  </div>
</div>
</form>