<form ng-submit="savePermissions(service)">
<div class="modal fade bs-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="serviceperm" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h4 class="modal-title" id="serviceperm">Permissions: {{service.name}}</h4>
      </div>
      <div class="modal-body">
					  <div class="panel panel-default">
					    <div class="panel-body"> 
						    <h4>{{service.name}}</h4>
						    <p>{{service.description}}</p>
						    <br/>
						    <div>
					        <ul class="nav nav-tabs">
					            <li class="{{activePermView('avail')}}" ><a data-toggle="tab"  ng-click="switchPermView('avail')">Scopes</a></li>
					        </ul>
                  <div ng-repeat="(key,arr) in permissions.availableResources">
	                  <div ng-repeat="r in arr" class="row scope-row">
		                  <div class="col-md-5">
		                    <strong>{{r.resourceUri}}</strong><br/>
		                    <span ng-if="r.roles">(Roles: {{r.roles}})</span>
	                    </div>
  	                  <div class="col-md-4">{{r.name}}</div>
                      <div class="col-md-1">{{toAuthority(r.authority)}}</div>
                      <div class="col-md-1 text-right">
                        <div class="form-check form-check-inline" ng-click="permissions.selectedResources[r.resourceId] = !permissions.selectedResources[r.resourceId]">				                    
                          <input type="checkbox" class="form-check-input" ng-model="permissions.selectedResources[r.resourceId]">
                          <label>&nbsp;</label>
                        </div>
                      </div> 
                      <div class="col-md-1 text-right">
                        <span class="{{permissionIcon(permissions.resourceApprovals[r.resourceId])}}"></span>
                      </div>
		                </div>
                  </div>
					     </div>
						  </div>
						</div>  
      </div>
      <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         <button type="submit" class="btn btn-primary">Save permissions</button>
      </div>      
    </div>
  </div>
</div>
</form>  
  					