<div class="modal fade bs-modal-lg" id="rolesModal" tabindex="-1" role="dialog" aria-labelledby="serviceperm" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
			<div class="modal-header bg-primary text-white">
			  <h3 class="modal-title" id="modal-title">Change spaces</h3>
			</div>
			<div class="modal-body" id="modal-body">
			   <div class="form-group" ng-if="roles.sub.usernameRequired">
			     <label for="domain">Username*</label>
			     <input type="text" class="form-control  form-control-sm" id="username" ng-model="roles.sub.username" required>
			   </div>
			  <div class="row align-items-center"> 
				  <div class="form-group col col-md-10">
					    <label for="domain">New spaces</label>
					    <input type="text" class="form-control form-control-sm" id="domain" ng-model="roles.custom">
				  </div>
				  <div class="col text-right">
            <button type="button" class="btn btn-primary" ng-click="addRole()" ng-disabled="invalidRole(roles.custom)">Add</button>
          </div>  
			  </div>
			  <div class="pt-3 pb-3">Spaces assigned</div>
			   <fieldset class="form-group">
		      <div class="form-check" ng-repeat="(r,checked) in roles.map" ng-click="roles.map[r] = !roles.map[r]">
              <input class="form-check-input" type="checkbox" ng-model="roles.map[r]">
		        <label class="form-check-label">
		          {{r}}
		        </label>
		      </div>
		    </fieldset>

			</div>
			<div class="modal-footer">
        <button class="btn btn-default" type="button" ng-click="dismiss()">Cancel</button>
			  <button class="btn btn-primary" type="button" ng-click="updateRoles()" ng-disabled="roles.sub.usernameRequired && (!roles.sub.username || !hasRoles(roles.map))">Update</button>
			</div>
    </div>
  </div>  			
</div>  