# SERVER ENDPOINT
server:
   host: ${SERVER_HOST:localhost}
   port: ${SERVER_PORT:8080}
   servlet:
     context-path: ${SERVER_CONTEXT:/}
   tomcat:
     remoteip:
      remote_ip_header: ${SERVER_TOMCAT_REMOTE_IP_HEADER:x-forwarded-for}
      protocol_header: ${SERVER_TOMCAT_PROTOCOL_HEADER:x-forwarded-proto}
   max-http-header-size: 32000     
   error:
      include-stacktrace: never

# APPLICATION EXTERNAL URL
application:
   url: ${APPLICATION_EXT_URL:http://localhost:8080}
   name: ${APPLICATION_NAME:AAC}
   email: ${APPLICATION_EMAIL:info@smartcommunitylab.it}
   logo: ${APPLICATION_LOGO:classpath:/public/img/ds_logo.png}
   footer: ${APPLICATION_FOOTER:${application.name} - ${application.url} < ${application.email} >}
   lang: ${APPLICATION_LANG:en}
   
# DB CONFIGURATION
jdbc:
   dialect: ${JDBC_DIALECT:org.hibernate.dialect.H2Dialect}
   driver: ${JDBC_DRIVER:org.h2.Driver}
   url: ${JDBC_URL:jdbc:h2:file:./data/db}
   user: ${JDBC_USER:ac}
   password: ${JDBC_PASS:ac}
   show-sql: false
   initialize-schema: always
   max-pool-size: ${JDBC_MAX_POOL_SIZE:10}
   min-pool-size: ${JDBC_MIN_POOL_SIZE:10}
   idle-timeout: ${JDBC_IDLE_TIMEOUT:600000}
   keep-alive-timeout: ${JDBC_KEEP_ALIVE_TIMEOUT:0}
   connection-timeout: ${JDBC_CONNECTION_TIMEOUT:30000}
   data-source-properties: {}


persistence:
   repository:
      providerConfig: memory
   
   
# AAC ADMIN USER PASSWORD
admin:
   username: ${ADMIN_USERNAME:admin}
   password: ${ADMIN_PASSWORD:admin}
   email: ${ADMIN_EMAIL:}
   contexts: apimanager, authorization, components, organizations, resources, services
   contextSpaces: components/apimanager/carbon.super
   roles: ${ADMIN_ROLES:}

# BASIC SECURITY PROPERTIES
security:
   api: 
      cors: 
        origins: "*"
   console: 
      cors: 
        origins: ${CORS_CONSOLE_ORIGINS:}
   webauthn:
      id:
      origins:
   session:
      cookie:
        sameSite: 
        secure: 
   keystore: ${JWK_KEYSTORE:classpath:/keystore.jwks} 
   cache:
      jwks: ${JWK_CACHE:no-cache, no-store, max-age=0, must-revalidate} #set cacheable with "public, max-age=3600, must-revalidate, no-transform"

#OAUTH2
oauth2:
   redirects:
      matchports: ${REDIRECT_MATCH_PORTS:true}
      matchsubdomains: ${REDIRECT_MATCH_SUBDOMAINS:true}
   jwt: ${ENABLE_JWT:true}
   introspection:
      permitAll: ${OAUTH2_INTROSPECTION_PERMIT_ALL:false}
   pkce:
      allowRefresh: ${OAUTH2_PKCE_ALLOW_REFRESH:true}
   clientCredentials:
      allowRefresh: ${OAUTH2_CLIENTCREDENTIALS_ALLOW_REFRESH:true}
   resourceOwnerPassword:
      allowRefresh: ${OAUTH2_RESOURCEOWNERPASSWORD_ALLOW_REFRESH:true}
   accesstoken:
      validity: ${ACCESS_TOKEN_VALIDITY:43200}
      cleanup: ${ACCESS_TOKEN_VALIDITY:2592000}
   refreshtoken:
      validity: ${REFRESH_TOKEN_VALIDITY:2592000}
      cleanup: ${ACCESS_TOKEN_VALIDITY:2592000}
   authcode:
      validity: ${AUTH_CODE_VALIDITY:600}          
            
#JWT
jwt:
   issuer: ${JWT_ISSUER:${application.url}}
   kid:
      sig: ${JWT_KID_SIG:}
      enc: ${JWT_KID_ENC:}
   claims:
      includeInternalRoles: false
      includeResourceRoles: false

# AUDIT
audit:
   issuer: ${AUDIT_ISSUER:${application.url}}
   kid:
      sig: ${AUDIT_KID_SIG:}         
      enc: ${AUDIT_KID_ENC:}
   jdbc:
     dialect: ${AUDIT_JDBC_DIALECT:${jdbc.dialect}}
     driver: ${AUDIT_JDBC_DRIVER:${jdbc.driver}}
     url: ${AUDIT_JDBC_URL:${jdbc.url}}
     user: ${AUDIT_JDBC_USER:${jdbc.user}}
     password: ${AUDIT_JDBC_PASS:${jdbc.password}}
     show-sql: false
     initialize-schema: always
     max-pool-size: ${AUDIT_JDBC_MAX_POOL_SIZE:${jdbc.maxpoolsize}}
     min-pool-size: ${AUDIT_JDBC_MIN_POOL_SIZE:${jdbc.minpoolsize}}
     idle-timeout: ${AUDIT_JDBC_IDLE_TIMEOUT:${jdbc.idletimeout}}
     keep-alive-timeout: ${AUDIT_JDBC_KEEP_ALIVE_TIMEOUT:${jdbc.keepalivetimeout}}
     connection-timeout: ${AUDIT_JDBC_CONNECTION_TIMEOUT:${jdbc.connectiontimeout}}
     data-source-properties: {}

#EXTERNAL PROVIDERS
authorities:
  account:
     settings:
        persistence: repository
     internal:
        confirmationValidity: 86400
        enableDelete: true
        enableUpdate: true
        enableRegistration: true
        confirmationRequired: true    
  credentials:
     password:
        passwordResetValidity: 86400
        enablePasswordReset: true
        passwordSupportWhitespace: false
        passwordRequireNumber: true
        passwordMaxLength: 15
        passwordMinLength: 6
        passwordRequireAlpha: true
        passwordRequireUppercaseAlpha: false
        passwordRequireSpecial: false   
        passwordKeepNumber: 1      
     webauthn:
        allowUntrustedAttestation: true
        registrationTimeout: 30
  identity:
     settings:
        linkable: true
        persistence: repository
     internal:
        enableDelete: true
        maxSessionDuration: 86400
        enableUpdate: true
        enableRegistration: true  
     password:
        passwordResetValidity: 86400
        enablePasswordReset: true
        passwordSupportWhitespace: false
        passwordRequireNumber: true
        passwordMaxLength: 15
        passwordMinLength: 6
        passwordRequireAlpha: true
        passwordRequireUppercaseAlpha: false
        passwordRequireSpecial: false   
        passwordKeepNumber: 1   
     oidc:
        scope: openid,email
        userNameAttributeName: sub
        clientAuthenticationMethod: CLIENT_SECRET_BASIC
        enablePkce: true
        trustEmailAddress: true
     apple:
        askNameScope: true
        askEmailScope: true
     saml:
        signAuthNRequest: true
        ssoServiceBinding: HTTP-POST
#     spid:
#        userNameAttributeName: SPID_CODE
#        idAttribute: SPID_CODE
#        useSpidCodeAsNameId: true
#        spidAttributes: SPID_CODE
#        ssoServiceBinding: HTTP-POST
#        authnContext: SPID_L2
     webauthn:
        allowUntrustedAttestation: true
        loginTimeout: 10
     custom:
      - id: google
        name: Google
        oidc:
          clientName: Google
          clientAuthenticationMethod: client_secret_basic
          scope: openid,profile,email
          issuerUri: https://accounts.google.com
          userNameAttributeName: email
          trustEmailAddress: true
          enablePkce: true
      - id: facebook
        name: Facebook
        oidc:
          clientName: Facebook
          clientAuthenticationMethod: client_secret_post
          scope: public_profile,email
          authorizationUri: https://www.facebook.com/v15.0/dialog/oauth
          tokenUri: https://graph.facebook.com/v15.0/oauth/access_token
          userInfoUri: https://graph.facebook.com/me?fields=id,name,email
          jwkSetUri: https://www.facebook.com/.well-known/oauth/openid/jwks/
          userNameAttributeName: email    
          subAttributeName: id  
          trustEmailAddress: true
          enablePkce: false
      - id: github
        name: GitHub
        oidc:
          clientName: GitHub
          clientAuthenticationMethod: client_secret_basic
          scope: read:user
          authorizationUri: https://github.com/login/oauth/authorize
          tokenUri: https://github.com/login/oauth/access_token
          userInfoUri: https://api.github.com/user
          userNameAttributeName: id
          trustEmailAddress: true
          enablePkce: false      


providers:
  identity:
    - provider: google
      authority: google
      type: identity
      name: Google
      enabled: ${IDP_GOOGLE_ENABLE:false}
      configuration:
          clientName: Google
          clientId: ${IDP_GOOGLE_CLIENT_ID}
          clientSecret: ${IDP_GOOGLE_CLIENT_SECRET}
  attributes:

spid:
   identityProviders:
      - entityName: Aruba ID
        entityId: https://loginspid.aruba.it
        entityLabel: arubaid
        metadataUrl: https://loginspid.aruba.it/metadata
        iconUrl: /spid/img/spid-idp-arubaid.svg
      - entityName: EtnaHitech S.C.p.A.
        entityId: https://id.eht.eu
        entityLabel: ethnahitech
        metadataUrl: https://id.eht.eu/metadata.xml
        iconUrl: /spid/img/spid-idp-etnaid.svg
      - entityName: InfoCamere S.C.p.A.
        entityId: https://loginspid.infocamere.it
        entityLabel: infocamere
        metadataUrl: https://loginspid.infocamere.it/metadata
        iconUrl: /spid/img/spid-idp-infocamereid.svg
      - entityName: Infocert ID
        entityId: https://identity.infocert.it
        entityLabel: infocertid
        metadataUrl: https://identity.infocert.it/metadata/metadata.xml
        iconUrl: /spid/img/spid-idp-infocertid.svg
      - entityName: Intesi Group S.p.A.
        entityId: https://idp.intesigroup.com
        entityLabel: intesigroup
        metadataUrl: https://spid.intesigroup.com/metadata/metadata.xml
        iconUrl: /spid/img/spid-idp-intesigroupspid.svg
      - entityName: Lepida ID
        entityId: https://id.lepida.it/idp/shibboleth
        entityLabel: lepidaid
        metadataUrl: https://id.lepida.it/idp/shibboleth
        iconUrl: /spid/img/spid-idp-lepidaid.svg
      - entityName: Namirial ID
        entityId: https://idp.namirialtsp.com/idp
        entityLabel: namirialid
        metadataUrl: https://idp.namirialtsp.com/idp/metadata
        iconUrl: /spid/img/spid-idp-namirialid.svg
      - entityName: Poste ID
        entityId: https://posteid.poste.it
        entityLabel: posteid
        metadataUrl: https://posteid.poste.it/jod-fs/metadata/metadata.xml
        iconUrl: /spid/img/spid-idp-posteid.svg
      - entityName: Sielte ID
        entityId: https://identity.sieltecloud.it
        entityLabel: sielteid
        metadataUrl: https://identity.sieltecloud.it/simplesaml/metadata.xml
        iconUrl: /spid/img/spid-idp-sielteid.svg
      - entityName: SPIDItalia Register.it
        entityId: https://spid.register.it
        entityLabel: spiditalia
        metadataUrl: https://spid.register.it/login/metadata
        iconUrl: /spid/img/spid-idp-spiditalia.svg
      - entityName: TeamSystem ID
        entityId: https://spid.teamsystem.com/idp
        entityLabel: teamsystem
        metadataUrl: https://spid.teamsystem.com/idp
        iconUrl: /spid/img/spid-idp-teamsystemid.svg
      - entityName: Tim ID
        entityId: https://login.id.tim.it/affwebservices/public/saml2sso
        entityLabel: timid
        metadataUrl: https://login.id.tim.it/spid-services/MetadataBrowser/idp
        iconUrl: /spid/img/spid-idp-timid.svg

attributesets:
  sets:
    - identifier: sub
      keys: sub      
    - identifier: profile
      keys: name,family_name,given_name,middle_name,nickname,preferred_username,profile,picture,website,gender,birthdate,zoneinfo,locale,updated_at
    - identifier: email
      keys: email,email_verified     
    - identifier: phone
      keys: phone_number,phone_number_verified 
    - identifier: address
      keys: formatted,street_address,locality,region,postal_code,country
          
                            
# LOGGING CONFIGURATION
logging:
   level:
      ROOT: INFO
      it.smartcommunitylab.aac: ${LOG_LEVEL:INFO}

# SPRING
spring:
   messages:
      basename: resources/internal
      encoding: UTF-8
   web:
      resources:
        cache.period: 3600
   h2.console.enabled: false       
   jpa.hibernate.ddl-auto: validate
   session:
    store-type: jdbc
    jdbc.initialize-schema: always   

engine:
   graal:
      max-cpu-time: 100
      max-memory: 10485760
      remove-comments: ${ENGINE_GRAAL_REMOVE_COMMENTS:true}

# ROLE PREFIX FOR AUTHORIZATION CHECK
authorization:
   contextSpace:

# EMAIL SERVER FOR NOTIFICATIONS
mail:
   username: ${MAIL_USER:EMAIL_SENDER}
   password: ${MAIL_PASS:EMAIL_PASSWORD}
   host: ${MAIL_HOST:localhost}
   port: ${MAIL_PORT:25}
   protocol: ${MAIL_PROTOCOL:smtp}
   sender: ${MAIL_SENDER:${mail.username}}
   start-tls: ${MAIL_TLS:false}
   debug: ${MAIL_DEBUG:false}

api:
   clients:
      auto: 
        introspect: true
        machine: false
        web: false
        
bootstrap:
    apply: ${BOOTSTRAP_APPLY:false}
    file: ${BOOTSTRAP:classpath:/bootstrap.yaml} 


#port used to expose actuator
management:
    server:
      port: ${MANAGEMENT_PORT:8081}
    endpoints:
      enabled-by-default: false
      web:
        base-path:
        exposure:
         include: "health,info,metrics" 
    endpoint:
      info:
        enabled: true
      health:
        enabled: true
      metrics:
         enabled: true


# Open API
openapi:
   version: "@project.version@"
   license: Apache License, Version 2.0
   licenseUrl: http://www.apache.org/licenses/LICENSE-2.0
   contact:
      name: ${OPENAPI_NAME:${application.name}}
      url: ${OPENAPI_URL:${application.url}}
      email: ${OPENAPI_EMAIL:${application.email}}

springdoc:
  swagger-ui:
    disable-swagger-default-url: true

    
