application:
  url: http://localhost:8080/aac

jdbc:
  url: jdbc:mysql://localhost:3306/aac
  user: ac
  password: ac

oauth-providers:
  providers:
    - provider: facebook
      client:
        clientId: fb-client-id
        clientSecret: fb-client-secret
        accessTokenUri: https://graph.facebook.com/oauth/access_token
        userAuthorizationUri: https://www.facebook.com/dialog/oauth
        preEstablishedRedirectUri: ${application.url}/auth/facebook-oauth/callback
        useCurrentUri: false
        tokenName: oauth_token
        authenticationScheme: query
        clientAuthenticationScheme: form
        scope:
            - openid
            - email
            - profile    
    - provider: google
      client:
        clientId: google-client-id
        clientSecret: google-client-secret
        accessTokenUri: https://www.googleapis.com/oauth2/v3/token
        userAuthorizationUri: https://accounts.google.com/o/oauth2/auth
        preEstablishedRedirectUri: ${application.url}/auth/google-oauth/callback
        useCurrentUri: false
        clientAuthenticationScheme: form
        scope:
            - openid
            - email
            - profile
      resource:        
        userInfoUri: https://www.googleapis.com/oauth2/v3/userinfo
        preferTokenInfo: true        
    - provider: adc
      client:
        clientId: adc-client-id
        clientSecret: adc-client-secret
        accessTokenUri: https://dev.smartcommunitylab.it/aac/oauth/token
        userAuthorizationUri: https://dev.smartcommunitylab.it/aac/eauth/authorize
        preEstablishedRedirectUri: ${application.url}/auth/adc-oauth/callback
        useCurrentUri: false
        clientAuthenticationScheme: form
        scope:
            - profile.basicprofile.me
            - profile.accountprofile.me
      resource:        
        userInfoUri: https://dev.smartcommunitylab.it/aac/accountprofile/me

admin:
  password: admin

mail:
  username: user@gmail.com
  password: 123
  host: smtp.gmail.com
  port: 465
  protocol: smtps 

logging:
  level:
    org.springframework.security: DEBUG

api:
  store:
    endpoint: https://localhost:9443/api/am/store/v0.11 
  publisher:
    endpoint: https://localhost:9443/api/am/publisher/v0.11
  identity:
    endpoint: https://localhost:9443/services/IdentityApplicationManagementService
    password: admin    
  usermgmt:
    endpoint: https://localhost:9443/services/RemoteUserStoreManagerService
    password: admin    
  multitenancy:
    endpoint: https://localhost:9443/services/TenantMgtAdminService
    password: admin      
    