<div class="pt-3">
    <div class="row">
        <fieldset class="col-md-10">
            <legend class="mb-4">Custom style</legend>
            <div class="form-group col">
                <div class="form-group col">
                    <legend>Custom css</legend>
                    <div ui-ace="aceOption" ng-model="realmSettings.stylesConfiguration.customCss"></div>
                </div>
                <div class="form-group col">
                    <legend>Logo</legend>
                    <br />
                    <div ng-if="!realmSettings.stylesConfiguration.logoFileId">
                        <input type="file" id="logoFile" name="file" />
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>