<div class="pt-3">
    <div class="row">
        <fieldset class="col-md-10">
            <legend class="mb-4">Localization settings</legend>
            <div class="form-group col">
                <div class="bootstrap-select-wrapper border-bottom-0">
                    <label>Languages enabled</label>
                    <select title="Select" multiple="true" data-multiple-separator=""
                        ng-model="realmSettings.localizationConfiguration.languages">
                        <option ng-repeat="e in availableLanguages" ng-value="e"
                            data-content="<span class='select-pill'><span class='select-pill-text'>{{e}}</span></span>">
                        </option>
                    </select>
                </div>
            </div>
        </fieldset>
    </div>
</div>