<fieldset>
    <legend class="mb-4">Client credentials</legend>


    <div class="steppers">
        <ul class="steppers-header">
            <li class="{{curStep == 1 ? 'active' : ''}}" ng-click="setStep(1)"><span class="steppers-number">1</span>
                Get credentials
            </li>
            <li class="{{curStep == 2 ? 'active' : ''}}" ng-click="setStep(2)"><span class="steppers-number">2</span>
                Retrieve a token
            </li>
            <li class="{{curStep == 3 ? 'active' : ''}}" ng-click="setStep(3)"><span class="steppers-number">3</span>
                Call a protected
                API</li>
        </ul>
        <div class="steppers-content p-4" aria-live="polite" ng-if="curStep == 1">

            <p>Get clientId and clientSecret from OAuth2 configuration page.</p>

            <div class="mt-4 mb-1">
                <div class="form-group">
                    <div class="input-group">
                        <label for="clientid" class="active">Client ID</label>
                        <input type="text" class="form-control" id="clientid" ng-model="app.clientId" readonly>
                        </span>
                        <div class="input-group-append">
                            <button class="btn btn-primary btn-sm  text-right" ng-click="copyText(app.clientId)">
                                <svg class="icon icon-sm icon-white">
                                    <use xlink:href="./italia/svg/sprite.svg#it-copy"></use>
                                </svg>
                            </button>
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <label for="secret" class="active">Client secret</label>
                        <input type="text" class="form-control" id="secret" ng-model="app.configuration.clientSecret"
                            readonly>
                        </span>
                        <div class="input-group-append">
                            <button class="btn btn-primary btn-sm  text-right"
                                ng-click="copyText(app.configuration.clientSecret)">
                                <svg class="icon icon-sm icon-white">
                                    <use xlink:href="./italia/svg/sprite.svg#it-copy"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="callout warning">
                <div class="callout-title">
                    <svg class="icon">
                        <use xlink:href="./italia/svg/sprite.svg#it-help-circle"></use>
                    </svg>
                    <span>Note</span>
                </div>
                <p>Keep client secret confidential!</p>
            </div>

        </div>
        <div class="steppers-content p-4" aria-live="polite" ng-if="curStep == 2">
            <p>Call the token endpoint, by providing authentication and sending the requested scopes as parameters</p>

            <figure class="p-2 mb-0 bg-secondary text-white pl-4">
                <pre class="pre">
<code class="language-json text-white" data-lang="json">
curl --request POST \
--url '{{oauth2Metadata.token_endpoint}}' \
--header 'content-type: application/x-www-form-urlencoded' \
--data grant_type=client_credentials \
--data client_id={{app.clientId}} \
--data client_secret={{app.configuration.clientSecret}} \
--data scope='{{app.scopes.join(' ')}}'
</code>
                </pre>
            </figure>

<p>on successful requests the response will contain an access token along with expiration information, for example</p>
   
            <figure class="p-2 mb-0 bg-secondary text-white">
                <pre class="pre">
<code class="language-json text-white" data-lang="json">
   {
      "token_type":"bearer",
      "access_token": "eyJraWQiOiJ0ZXN...",
      ""expires_in":300,
      "scope": ""
   }
</code>
                </pre>
            </figure>


        </div>
        <div class="steppers-content p-4" aria-live="polite" ng-if="curStep == 3">
            <p>Step3</p>

        </div>

        <nav class="steppers-nav">
            <button type="button" class="btn btn-outline-primary btn-sm steppers-btn-prev" ng-disabled="curStep == 1"
                ng-click="prevStep()">
                <svg class="icon icon-primary">
                    <use xlink:href="./italia/svg/sprite.svg#it-chevron-left"></use>
                </svg>
                Previous
            </button>
            <button type="button" class="btn btn-outline-primary btn-sm steppers-btn-next" ng-disabled="curStep == 3"
                ng-click="nextStep()">
                Next
                <svg class="icon icon-primary">
                    <use xlink:href="./italia/svg/sprite.svg#it-chevron-right"></use>
                </svg>
            </button>
        </nav>
    </div>
</fieldset>