<div class="pt-3 mb-5">
    <fieldset>
        <legend class="mb-4">SPID SP Configuration</legend>
        <div class="row">
            <div class="form-group col">
                <div class="input-group">
                    <label for="samlMetadataUrl" class="active">Service provider metadata</label>
                    <input type="text" class="form-control" id="samlMetadataUrl" ng-model="samlMetadataUrl"
                        readonly>
                    </span>
                    <div class="input-group-append">
                        <button class="btn btn-primary btn-sm  text-right" ng-click="copyText(samlMetadataUrl)">
                            <svg class="icon icon-sm icon-white">
                                <use xlink:href="./italia/svg/sprite.svg#it-copy"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>        
        </div>
        <div class="row">
             <div class="form-group col">
                <label for="entityId">Entity ID</label>
                <input type="text" name="entityId" class="form-control form-control-sm" id="entityId"
                    ng-model="idp.configuration.entityId">
            </div>
        </div>
        <div class="py-3">Signing</div>
        <div class="row">
            <div class="form-group col ">
                <label for="signingKey">Signing Key</label>
                <textarea rows="5" id="signingKey" name="signingKey"
                    ng-model="idp.configuration.signingKey"
                    ng-style="!idp.configuration.signingKey && {'border':'1px solid #d9364f'}"></textarea>
            </div>
            <div class="form-group col ">
                <label for="signingCertificate">Signing Certificate</label>
                <textarea rows="5" id="signingCertificate" name="signingCertificate"
                    ng-model="idp.configuration.signingCertificate"
                    ng-style="!idp.configuration.signingCertificate && {'border':'1px solid #d9364f'}"></textarea>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend class="mb-4">SPID Registration</legend>
        <div class="row">
            <div class="pt-0 mb-4 col-md-12"> Organization information </div>
            <div class="form-group col">
                <div class="input-group">
                    <label for="organizationName">Organization name</label>
                    <input type="text" required class="form-control" id="organizationName"
                        ng-model="idp.configuration.organizationName">
                </div>
            </div>
            <div class="form-group col">
                <div class="input-group">
                    <label for="organizationUrl">Organization url</label>
                    <input type="text" required class="form-control" id="organizationUrl"
                        ng-model="idp.configuration.organizationUrl">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col">
                <div class="input-group">
                    <label for="organizationDisplayName">Organization display name</label>
                    <input type="text" required class="form-control" id="organizationDisplayName"
                        ng-model="idp.configuration.organizationDisplayName">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="pt-0 mb-4 col-md-12"> Contact person information </div>
            <div class="form-group col">
                <div class="input-group">
                    <label for="contactPersonEmailAddress">Contact person email</label>
                    <input type="text" required class="form-control" id="contactPersonEmailAddress"
                        ng-model="idp.configuration.contactPerson_EmailAddress">
                </div>
            </div>
            <div class="form-group col">
                <div class="input-group">
                    <label for="contactPersonTelephoneNumber">Contact person phone</label>
                    <input type="text" class="form-control" id="contactPersonTelephoneNumber"
                        ng-model="idp.configuration.contactPerson_Telephone">
                </div>
            </div>
            <div class="form-group col">
                <div class="input-group">
                    <label for="contactPersonIPACode">Contact person IPAcode</label>
                    <input type="text" required class="form-control" id="contactPersonIPACode"
                           ng-model="idp.configuration.contactPerson_IPACode">
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend class="mb-4">SPID Advanced Configuration</legend>
        <div class="row">
            <div class="form-group col">
                <div class="bootstrap-select-wrapper border-bottom-0">
                    <label ng-if="idp.configuration.authnContext">Spid level</label>
                    <label ng-if="!idp.configuration.authnContext" class="text-danger">Spid level</label>
                    <select title="Select" ng-model="idp.configuration.authnContext">
                        <option ng-repeat="c in idp.schema.properties.authnContext.enum" value="{{c}}"
                                ng-selected="idp.configuration.authnContext == c">{{c}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col">
                <div class="bootstrap-select-wrapper border-bottom-0">
                    <label>Spid user attributes</label>
                    <select title="Select" multiple="true" data-multiple-separator=""
                        ng-model="idp.configuration.spidAttributes">
                        <option ng-repeat="at in idp.schema.properties.spidAttributes.items.enum"
                            ng-value="at"
                            data-content="<span class='select-pill'><span class='select-pill-text'>{{at}}</span></span>">
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend class="mb-4">SPID IdP Configuration</legend>

        <div class="pt-0 mb-4 pb-4"> Auto-configuration will enable all idps in the SPID federation, otherwise
            manually configure asserting parties below. </div>
        <div class="form-group col">
            <div class="bootstrap-select-wrapper border-bottom-0">
                <label>Identity providers</label>
                <tags-input type="text" placeholder="Add identity providers" ng-model="spidIdps">
                </tags-input>
            </div>
        </div>
        <div class="pt-0 pb-3 text-center"> -- OR -- </div>
        <div class="form-group col ">
            <label for="idpMetadataUrl">IdP Metadata Discovery URL</label>
            <input type="text" name="idpMetadataUrl" class="form-control form-control-sm" id="idpMetadataUrl"
                ng-model="idp.configuration.idpMetadataUrl">
        </div>

    </fieldset>    
    <fieldset>
        <legend class="mb-5">SAML Advanced Configuration</legend>
        <div class="row">
            <div class="form-group col">
                <div class="bootstrap-select-wrapper border-bottom-0">
                    <label>Spid username attribute</label>
                    <select title="Select" ng-model="idp.configuration.usernameAttributeName">
                        <option value=""></option>
                        <option ng-repeat="at in idp.schema.properties.usernameAttributeName.enum"
                            value="{{at}}" ng-selected="idp.configuration.usernameAttributeName==at">{{at}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group col">
                <div class="bootstrap-select-wrapper border-bottom-0">
                    <label>Spid subject attribute</label>
                    <select title="Select" ng-model="idp.configuration.subAttributeName">
                        <option value=""></option>
                        <option ng-repeat="at in idp.schema.properties.subAttributeName.enum"
                                value="{{at}}" ng-selected="idp.configuration.subAttributeName==at">{{at}}
                        </option>
                    </select>
                </div>
            </div>
        </div>

    </fieldset>
</div>