<div class="pt-3 mb-5">

    <fieldset>
        <legend class="mb-4">WebAuthn IdP Configuration</legend>

        <div class="pt-3 pb-3">User Management</div>
        <div class="row">
            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" name="requireAccountConfirmation" id="requireAccountConfirmation"
                        type="checkbox" ng-model="idp.configuration.requireAccountConfirmation">
                    <label for="requireAccountConfirmation">Require account confirmation</label>
                </div>
            </div>
        </div>

        <div class="pt-3 pb-3">Display Management</div>
        <div class="row">
            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" name="displayAsButton" id="displayAsButton" type="checkbox"
                        ng-model="idp.configuration.displayAsButton">
                    <label for="displayAsButton">Show as button</label>
                </div>
            </div>
        </div>

        <div class="pt-3 pb-3">Session Management</div>
        <div class="row">
            <div class="col">
                <div class="form-check">
                    <input type="number" name="maxSessionDuration" min="1" class="form-control form-control-sm"
                        id="maxSessionDuration" ng-model="idp.configuration.maxSessionDuration">
                    <label for="maxSessionDuration">Max session duration</label>
                </div>
            </div>
        </div>

        <div class="pt-3 pb-3">Credentials Management</div>
        <div class="row mb-4">
            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" name="allowUntrustedAttestation" id="allowUntrustedAttestation"
                        type="checkbox" ng-model="idp.configuration.allowUntrustedAttestation">
                    <label for="allowUntrustedAttestation">allowUntrustedAttestation</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col">
                <div class="bootstrap-select-wrapper border-bottom-0">
                    <label>User verification</label>
                    <select required title="Select" ng-model="idp.configuration.requireUserVerification">
                        <option ng-repeat="c in idp.schema.properties.requireUserVerification.enum" value="{{c}}"
                            ng-selected="idp.configuration.requireUserVerification == c">{{c}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group col">
                <div class="bootstrap-select-wrapper border-bottom-0">
                    <label>Resident key</label>
                    <select required title="Select" ng-model="idp.configuration.requireResidentKey">
                        <option ng-repeat="c in idp.schema.properties.requireResidentKey.enum" value="{{c}}"
                            ng-selected="idp.configuration.requireResidentKey == c">{{c}}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="pt-3 pb-3">Operation Management</div>
        <div class="row">
            <div class="form-group col col-md-6 mb-0">
                <label for="registrationTimeout">Registration timeout (seconds)</label>
                <input type="number" min="0" name="registrationTimeout" class="form-control form-control-sm"
                    id="registrationTimeout" ng-model="idp.configuration.registrationTimeout">
            </div>
            <div class="form-group col col-md-6 mb-0">
                <label for="loginTimeout">Login timeout (seconds)</label>
                <input type="number" min="0" name="loginTimeout" class="form-control form-control-sm" id="loginTimeout"
                    ng-model="idp.configuration.loginTimeout">
            </div>
        </div>

    </fieldset>
</div>