<div class="pt-3 mb-5">
    <fieldset>
        <legend class="mb-4">SPID SP Configuration</legend>
        <div class="row">
            <div class="form-group col">
                <div class="input-group">
                    <label for="samlMetadataUrl" class="active">Service provider metadata</label>
                    <input type="text" class="form-control" id="samlMetadataUrl" ng-model="samlMetadataUrl"
                        readonly>
                    </span>
                    <div class="input-group-append">
                        <button class="btn btn-primary btn-sm  text-right" ng-click="copyText(samlMetadataUrl)">
                            <svg class="icon icon-sm icon-white">
                                <use xlink:href="./italia/svg/sprite.svg#it-copy"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>        
        </div>
        <div class="py-3">Signing</div>
        <div class="row">
            <div class="form-group col ">
                <label for="signingKey">Signing Key</label>
                <textarea rows="5" id="signingKey" name="signingKey"
                          ng-model="idp.configuration.signingKey"
                          ng-style="!idp.configuration.signingKey && {'border':'1px solid #d9364f'}"></textarea>
            </div>
            <div class="form-group col ">
                <label for="signingCertificate">Signing Certificate</label>
                <textarea rows="5" id="signingCertificate" name="signingCertificate"
                          ng-model="idp.configuration.signingCertificate"
                          ng-style="!idp.configuration.signingCertificate && {'border':'1px solid #d9364f'}"></textarea>
            </div>
        </div>
        <div class="row" ng-repeat="credential in idp.configuration.signingCredentials track by $index">
            <div class="form-group col-12">
                <label for="credentialId{{$index}}">Credential ID</label>
                <input type="text" class="form-control form-control-sm" id="credentialId{{$index}}"
                       ng-model="credential.credentialId">
            </div>
            <div class="form-group col ">
                <label for="signingKey{{$index}}">Signing Key</label>
                <textarea rows="5" name="signingKey{{$index}}" id="signingKey{{$index}}" ng-model="credential.signingKey"></textarea>
            </div>
            <div class="form-group col ">
                <label for="signingCertificate{{$index}}">Signing Certificate</label>
                <textarea rows="5" id="signingCertificate{{$index}}" name="signingCertificate{{$index}}"
                          ng-model="credential.signingCertificate"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="form-group col ">
                <label for="activeAuthRequestSigningCredentialId">Active Signing Credential Id</label>
                <input type="text" name="activeAuthRequestSigningCredentialId" class="form-control form-control-sm" id="activeAuthRequestSigningCredentialId"
                       ng-model="idp.configuration.activeAuthRequestSigningCredentialId">
            </div>
        </div>
        <div class="row">
            <div class="form-group col ">
                <label for="activeMetadataSigningCredentialId">Active Signing Credential Id</label>
                <input type="text" name="activeMetadataSigningCredentialId" class="form-control form-control-sm" id="activeMetadataSigningCredentialId"
                       ng-model="idp.configuration.activeMetadataSigningCredentialId">
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend class="mb-4">SPID Registration</legend>
        <div class="row">
             <div class="form-group col">
                <label for="metadataUrl">Metadata Url</label>
                <input type="text" name="metadataUrl" class="form-control form-control-sm" id="metadataUrl"
                    ng-model="idp.configuration.metadataUrl">
            </div>
        </div>
        <div class="row">
            <div class="form-group col ">
                <label for="metadataXML">Metadata XML</label>
                <textarea rows="5" id="metadataXML" name="metadataXML"
                    ng-model="idp.configuration.metadataXML"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="form-group col">
                <label for="entityId">Entity ID</label>
                <input type="text" name="entityId" class="form-control form-control-sm" id="entityId"
                    ng-model="idp.configuration.entityId">
            </div>
        </div>
        <div class="row">
            <div class="pt-0 mb-4 col-md-12"> Organization information </div>
            <div class="form-group col">
                <div class="input-group">
                    <label for="organizationName">Organization name</label>
                    <input type="text" class="form-control" id="organizationName"
                        ng-model="idp.configuration.organizationName">
                </div>
            </div>
            <div class="form-group col">
                <div class="input-group">
                    <label for="organizationDisplayName">Organization display name</label>
                    <input type="text" class="form-control" id="organizationDisplayName"
                        ng-model="idp.configuration.organizationDisplayName">
                </div>
            </div>
            <div class="form-group col">
                <div class="input-group">
                    <label for="organizationUrl">Organization url</label>
                    <input type="text" class="form-control" id="organizationUrl"
                        ng-model="idp.configuration.organizationUrl">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="pt-0 mb-4 col-md-12"> Contact person information </div>
            <div class="form-group col">
                <div class="input-group">
                    <label for="contactPersonEmailAddress">Contact person email</label>
                    <input type="text" class="form-control" id="contactPersonEmailAddress"
                        ng-model="idp.configuration.contactPersonEmailAddress">
                </div>
            </div>
            <div class="form-group col">
                <div class="input-group">
                    <label for="contactPersonIPACode">Contact person IPAcode</label>
                    <input type="text" class="form-control" id="contactPersonIPACode"
                           ng-model="idp.configuration.contactPersonIPACode">
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend class="mb-4">SPID Advanced Configuration</legend>
        <div class="row">
            <div class="form-group col">
                <div class="form-check">
                    <label for="useAssertionConsumerServiceUrl">Use Assertion Consumer Service Url</label>
                    <input type="checkbox" class="form-check-input" id="useAssertionConsumerServiceUrl" name="useAssertionConsumerServiceUrl"
                        ng-model="idp.configuration.useAssertionConsumerServiceUrl">
                </div>
            </div>
            <div class="form-group col">
                <div class="form-check">
                    <label for="attributeConsumingServiceIndex">Attribute Consuming Service Index</label>
                    <input type="number" name="attributeConsumingServiceIndex" min="0" class="form-control form-control-sm"
                        id="attributeConsumingServiceIndex" ng-model="idp.configuration.attributeConsumingServiceIndex">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col">
                <div class="bootstrap-select-wrapper border-bottom-0">
                    <label ng-if="idp.configuration.authnContext">Spid level</label>
                    <label ng-if="!idp.configuration.authnContext" class="text-danger">Spid level</label>
                    <select title="Select" ng-model="idp.configuration.authnContext">
                        <option ng-repeat="c in idp.schema.properties.authnContext.enum" value="{{c}}"
                                ng-selected="idp.configuration.authnContext == c">{{c}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col">
                <div class="bootstrap-select-wrapper border-bottom-0"
                     ng-init="purposeLabels={
                        'P':   'uso professionale: persona fisica o persona giuridica',
                        'LP':  'persona giuridica o uso professionale per la persona giuridica',
                        'PG':  'uso professionale per la persona giuridica',
                        'PF':  'uso professionale della persona fisica',
                        'PX':  'persona giuridica o uso professionale (persona fisica o persona giuridica)',
                        'PS':  'come P, anche per stranieri',
                        'LPS': 'come LP, anche per stranieri',
                        'PGS': 'come PG, anche per stranieri',
                        'PFS': 'come PF, anche per stranieri',
                        'PXS': 'come PX, anche per stranieri'}">
                    <label>Spid Purpose (uso professionale)</label>
                    <select title="None (classic SPID)" ng-model="idp.configuration.purpose">
                        <option value="">None (classic SPID)</option>
                        <option ng-repeat="c in idp.schema.properties.purpose.enum" value="{{c}}"
                                ng-selected="idp.configuration.purpose == c">{{c}} - {{purposeLabels[c] || ''}}
                        </option>
                    </select>
                    <small class="form-text">Kinds of digital identity accepted, sent as &lt;spid:Purpose&gt; in AuthN requests (AgID Avviso SPID n.18). Leave empty for classic SPID.</small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col">
                <div class="bootstrap-select-wrapper border-bottom-0">
                    <label>Spid user attributes</label>
                    <select title="Select" multiple="true" data-multiple-separator=""
                        ng-model="idp.configuration.spidAttributes">
                        <option ng-repeat="at in idp.schema.properties.spidAttributes.items.enum"
                            ng-value="at"
                            data-content="<span class='select-pill'><span class='select-pill-text'>{{at}}</span></span>">
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend class="mb-4">SPID IdP Configuration</legend>

        <div class="pt-0 mb-4 pb-4"> Auto-configuration will enable all idps in the SPID federation, otherwise
            manually configure asserting parties below. </div>
        <div class="form-group col">
            <div class="bootstrap-select-wrapper border-bottom-0">
                <label>Identity providers</label>
                <tags-input type="text" placeholder="Add identity providers" ng-model="spidIdps">
                </tags-input>
            </div>
        </div>
        <div class="pt-0 pb-3 text-center"> -- OR -- </div>
        <div class="form-group col ">
            <label for="idpMetadataUrl">IdP Metadata Discovery URL</label>
            <input type="text" name="idpMetadataUrl" class="form-control form-control-sm" id="idpMetadataUrl"
                ng-model="idp.configuration.idpMetadataUrl">
        </div>

    </fieldset>    
    <fieldset>
        <legend class="mb-5">SAML Advanced Configuration</legend>
        <div class="row">
            <div class="form-group col">
                <div class="bootstrap-select-wrapper border-bottom-0">
                    <label>Spid username attribute</label>
                    <select title="Select" ng-model="idp.configuration.usernameAttributeName">
                        <option value=""></option>
                        <option ng-repeat="at in idp.schema.properties.usernameAttributeName.enum"
                            value="{{at}}" ng-selected="idp.configuration.usernameAttributeName==at">{{at}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group col">
                <div class="bootstrap-select-wrapper border-bottom-0">
                    <label>Spid subject attribute</label>
                    <select title="Select" ng-model="idp.configuration.subAttributeName">
                        <option value=""></option>
                        <option ng-repeat="at in idp.schema.properties.subAttributeName.enum"
                                value="{{at}}" ng-selected="idp.configuration.subAttributeName==at">{{at}}
                        </option>
                    </select>
                </div>
            </div>
        </div>

    </fieldset>
</div>