<div class="modal fade bs-modal-lg" id="inviteModal" tabindex="-1" role="dialog" aria-labelledby="serviceperm"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h3 class="modal-title" id="modal-title">Invite User</h3>
            </div>
            <div class="modal-body" id="modal-body">

                <form name="userForm" novalidate class="was-validated">
                    <div class="row">
                        <div class="form-group col mb-0">
                            <label for="email">Email address*</label>
                            <input type="email" required name="email" class="form-control form-control-sm" id="email"
                                ng-model="invitation.email">
                            <div ng-if="userForm.email.$invalid" class="invalid-feedback">
                                Valid email address required</div><br>
                        </div>
                    </div>

                </form>



            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" type="button" ng-click="invite()"
                    ng-disabled="userForm.email.$invalid">Update</button>
            </div>
        </div>
    </div>
</div>