<div class="container" ng-if="contexts.all && contexts.all.length > 0">
  <div class="row mb-3">
    <div class="col col-md-6 p-3">
      <h3>User Roles</h3>
    </div>
    <div class="col col-md-6 text-right">
      <button class="btn btn-primary text-right" type="button" ng-click="newUser()">New user</button>
    </div>
  </div>
  <div class="row mb-3 form-row">
    <div class="col p-3">
      <div class="bootstrap-select-wrapper">
        <label for="exampleFormControlSelect1">Role Context</label>
 		    <select ng-model="contexts.selected"  id="context" ng-change="loadData()">
		      <option ng-repeat="ctx in contexts.all">{{ctx}}</option>
		    </select>
		  </div>
    </div>
  </div>
  <table class="table table-hover align-middle border-bottom">
   <tr ng-repeat="user in users track by $index" ng-click="changeRoles(user)">
     <td class="align-middle">
       <a href><strong>{{user.username}}</strong></a>
     </td>
     <td class="align-middle">
      {{user.roles.join(', ')}}
     </td>
     <td class="text-right"><button class="btn btn-link">Edit</td>
   </tr>
 </table>
 <div class="text-center">
      <div>
        <ul class="pagination justify-content-center">
          <li class="page-item" ng-class="{disabled: page.currentPage == 1}">
            <a class="page-link" href ng-click="prevPage()">&laquo;</a>
          </li>
          <li class="page-item">
            <a class="page-link" href>{{page.currentPage}}</a>
          </li>
          <li class="page-item"  ng-class="{disabled: users.length < page.limit}">
            <a class="page-link" href ng-click="nextPage()">&raquo;</a>
          </li>
        </ul>
      </div>
  <ul uib-pagination total-items="page.totalItems" ng-model="page.currentPage" items-per-page="page.limit" max-size="1" class="pagination-sm" ng-change="pageChanged()"></ul>
 </div>    

</div>
<div ng-include="'./html/roles.modal.html'"></div>