form {
  display: flex;
  flex-direction: column;
  max-width: 14em;
  margin-right: auto;
  margin-left: auto;
}

input {
  margin-top: 1em;
  padding: 1em;
  border: 1px solid black;
  border-radius: 2em;
}

#submit {
  cursor: pointer;
  border: none;
  background-color: rgb(155, 214, 214);
}
