# COMAND GENERATE CERTIFICATE AND PRIVATE KEY
# openssl req -x509 -config credential.cnf -days 3650 -keyout private.key -out public.crt

[ req ]
default_bits       = 2048
distinguished_name = req_distinguished_name
prompt             = no
encrypt_key        = no
x509_extensions    = v3_req

[ req_distinguished_name ]
C  = IT
O  = Test
CN = localhost

[ v3_req ]
basicConstraints = CA:FALSE
