<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header">

</head>

<body>
   <div th:fragment="login">
      <p th:if="${authority.getDescription(#locale.language) != null}" th:text="${authority.getDescription(#locale.language)}"></p>
      <a class="btn btn-icon btn-outline-secondary text-left pl-3 btn-login" th:classAppend="${authority.cssClass}"
         th:href="${authority.loginUrl}">
         <span class="mr-3 pr-2 border-right btn-login-icon" aria-hidden="true">
            <svg class="icon icon-black icon-sm">
               <use th:xlink:href="@{/}+${authority.iconUrl}"></use>
            </svg>
         </span>
         <span class="text-black btn-login-text" th:text="${authority.getTitle(#locale.language)}"></span>
      </a>
   </div>

</body>

</html>