<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header">

</head>

<body>
    <div th:fragment="login" class="border-bottom mb-2">
        <p th:if="${authority.description != null}" th:text="${authority.description}"></p>

        <form th:action=${authority.formUrl} th:object="${login}" method="post">

            <div class="col-md-12 form-group">
                <label th:text="#{field.username}" for="username">: </label>
                <input class="form-control" type="text" id="username" name="username" />
            </div>

            <div class="col-md-12 form-group mb-3">
                <label th:text="#{field.pwd}" for="password">: </label>
                <input class="form-control input-password" type="password" id="password" name="password" />
                <span class="password-icon" aria-hidden="true">
                    <svg class="password-icon-visible icon icon-sm">
                        <use th:xlink:href="@{/italia/svg/sprite.svg#it-password-visible}"></use>
                    </svg>
                    <svg class="password-icon-invisible icon icon-sm d-none">
                        <use th:xlink:href="@{/italia/svg/sprite.svg#it-password-invisible}"></use>
                    </svg>
                </span>
            </div>



            <div class="row px-2 align-items-center">
                <button class="btn btn-primary btn-block" th:text="#{action.login}">Login</button>
            </div>

            <div class="col-md-12 text-center mt-2 mb-4" th:if="${authority.resetUrl != null}">
                <span class="small">
                    <a class="" th:href="${authority.resetUrl}" th:text="#{label.login_pwd_reset}">Reset
                        password</a>
                </span >
            </div>
        </form>

    </div>

</body>

</html>