<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
   <title th:remove="all">Template for HTML email</title>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
   <p>
      Gentile <span data-th-text="${user.name}">Mario</span> <span data-th-text="${user.surname}">Rossi</span>,
   </p>
   <p>
      Sei stato registrato a <b data-th-text="${application.name}">AAC</b>
   </p>
   <p>Per completare la registrazione, apri questo <a href="#" th:href="${url}">link</a>.</p>
   <p>
      Si prega di contattare <a href="mailto:" th:href="'mailto:'+${application.email}">supporto</a> in caso di problemi
      con l'accesso.
   </p>
   <p>
      Cordiali saluti, <br />
      <em data-th-text="${application.name}">AAC</em><br>
      <a href="#" th:href="${application.url}" th:text="${application.url}">aac</a>
   </p>
</body>

</html>