<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:remove="all">Template for HTML email</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <p>
      Gentile  <span data-th-text="${user.name}">Mario</span> <span data-th-text="${user.surname}">Rossi</span>, 
    </p>
    <p>Per completare la registrazione a Smart Community, apri questo <a href="http://smartcommunitylab.it/" th:href="${url}">link</a>.</p>
    <p>
      Si prega di  contattare <a href="mailto:info@smartcommunitylab.it">supporto</a> in caso di problemi con l'accesso.
    </p>
    <p>
      Cordiali saluti, <br />
      <em>Smart Community Lab</em>
    </p>
  </body>
</html>