<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:remove="all">Template for HTML email</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <p>
      Dear  <span data-th-text="${user.name}">Mario</span> <span data-th-text="${user.surname}">Rossi</span>, 
    </p>
    <p>
      You have been registered to <b>SmartCommunity</b>
    </p>
    <p>In order to complete the registration, login <a href="http://smartcommunitylab.it/" th:href="${url}">here</a> 
    with the temporary password <span data-th-text="${password}">password</span>.</p>
    <p>
      Please contact <a href="mailto:info@smartcommunitylab.it">support</a> should you face any problems with the access.
    </p>
    <p>
      With best regards, <br />
      <em>Smart Community Lab</em>
    </p>
  </body>
</html>