<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
   <title th:remove="all">Template for HTML email</title>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
   <p>
      Estimado <span data-th-text="${user.name}">Mario</span> <span data-th-text="${user.surname}">Rossi</span>,
   </p>
   <p>
      Se ha registrado en <b data-th-text="${application.name}">AAC</b>
   </p>
   <p>Para completar el registro, inicie sesión <a href="#" th:href="${url}">aquí</a>
      con la contraseña temporal <span data-th-text="${password}">contraseña</span>.</p>
   <p>
      Póngase en contacto con <a href="mailto:" th:href="'mailto:'+${application.email}">soporte</a> si tiene algún
      problema con el acceso.
   </p>
   <p>
      Saludos cordiales, <br />
      <em data-th-text="${application.name}">AAC</em><br>
      <a href="#" th:href="${application.url}" th:text="${application.url}">aac</a>
   </p>
</body>

</html>