<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
   <title th:remove="all">Template for HTML email</title>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
   <p>
      Cien. <span data-th-text="${user.name}">Mario</span> <span data-th-text="${user.surname}">Rosi</span>!
   </p>
   <p>
      Jūs esat reģistrējies <b data-th-text="${application.name}">AAC</b>
   </p>
   <p>Lai pabeigtu reģistrāciju, noklikšķiniet <a href="#" th:href="${url}">šeit</a>.</p>
   <p>
      Ja jums rodas problēmas ar piekļuvi, lūdzu, sazinieties ar <a href="mailto:"
         th:href="'mailto:'+${application.email}">atbalstu</a>.
   </p>
   <p>
      Ar cieņu <br />
      <em data-th-text="${application.name}">AAC</em><br>
      <a href="#" th:href="${application.url}" th:text="${application.url}">aac</a>
   </p>
</body>

</html>