<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
   <title th:remove="all">Template for HTML email</title>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
   <p>
      Dear <span data-th-text="${user.name}">Mario</span> <span data-th-text="${user.surname}">Rossi</span>,
   </p>
   <p>
      You have been registered to <b data-th-text="${application.name}">AAC</b>
   </p>
   <p>In order to complete the registration, click <a href="#" th:href="${url}">here</a>.</p>
   <p>
      Please contact <a href="mailto:" th:href="'mailto:'+${application.email}">support</a> should you face any problems
      with the access.
   </p>
   <p>
      With best regards, <br />
      <em data-th-text="${application.name}">AAC</em><br>
      <a href="#" th:href="${application.url}" th:text="${application.url}">aac</a>
   </p>
</body>

</html>