<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
   <title th:remove="all">Template for HTML email</title>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
   <p>
      Estimado <span data-th-text="${user.name}">Mario</span> <span data-th-text="${user.surname}">Rossi</span>,
   </p>
   <p>
      Se ha registrado en <b data-th-text="${application.name}">SmartCommunity</b> como <b>proveedor de servicios</b>.
   </p>
   <p>Para completar el registro, haga clic <a href="#" th:href="${url}">aquí</a>.</p>
   <p>
      Póngase en contacto con <a href="mailto:" th:href="'mailto:'+${application.email}">soporte</a> si tiene algún problema con el
      acceso.
   </p>
   <p>
      Saludos cordiales, <br />
      <em data-th-text="${application.name}">Smart Community Lab</em>
   </p>
</body>

</html>