<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="header"> </head>

  <body>
    <div th:fragment="message">
      <p>
        Cienījamais <span data-th-text="${user.name}">Mario</span>
        <span data-th-text="${user.surname}">Rossi</span>!
        <br />
        Jums ir ģenerēts jauns OTP kods sistēmā
        <b data-th-text="${realm.name}">AAC</b>
        <br />
        <br />
        Lai pabeigtu pieteikšanos, varat izmantot šo kodu:
        <br />
        <b><span data-th-text="${code}">Null</span></b>
        <br />
        <br />
        Alternatīvi varat sekot tālāk norādītajai saitei vai noklikšķināt
        <a href="#" th:href="${link}">šeit</a>
        <br />
        <br />
        <small style="color: #666">Kods ir derīgs 1 minūti.</small>
      </p>
      <p>
        Lūdzu, sazinieties ar
        <a href="mailto:" th:href="'mailto:'+${application.email}"
          >atbalsta dienestu</a
        >, ja rodas problēmas ar piekļuvi.
      </p>
    </div>
  </body>
</html>
