<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="header"> </head>

  <body>
    <div th:fragment="message">
      <p>
        Sehr geehrte(r) <span data-th-text="${user.name}">Mario</span>
        <span data-th-text="${user.surname}">Rossi</span>,
        <br />
        Für Sie wurde ein neuer OTP-Code für
        <b data-th-text="${realm.name}">AAC</b>
        generiert.
        <br />
        <br />
        Um die Anmeldung abzuschließen, können Sie diesen Code verwenden:
        <br />
        <b><span data-th-text="${code}">Null</span></b>
        <br />
        <br />
        Alternativ können Sie dem untenstehenden Link folgen oder
        <a href="#" th:href="${link}">hier</a> klicken.
        <br />
        <br />
        <small style="color: #666">Der Code ist 1 Minute lang gültig.</small>
      </p>
      <p>
        Bitte wenden Sie sich an den
        <a href="mailto:" th:href="'mailto:'+${application.email}">Support</a>,
        sollten Probleme beim Zugriff auftreten.
      </p>
    </div>
  </body>
</html>
