<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header">
</head>

<body>
   <div th:fragment="message">
      <p>
         Dear <span data-th-text="${reset.username}">Mario</span>,
         <br>
         You password for <b th:text="${realm.name}">AAC</b> has been reset.
         <br>
         In order to update your credentials, follow the link below or click <a href="#"
            th:href="${action.url}">here</a>. 
         The link will expire on <strong><span data-th-text="${reset.expire}"></span></strong>.
      </p>
      <p>If you did not request to reset your password, ignore this email and the link will automatically expire.</p>
      <p>
         Please contact <a href="mailto:" th:href="'mailto:'+${application.email}">support</a>
         should you face any problem with the access.
      </p>
   </div>
</body>

</html>