<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header">
</head>

<body>
   <div th:fragment="message">
      <p>
         Gentile <span data-th-text="${user.name}">Mario</span> <span data-th-text="${user.surname}">Rossi</span>,
         <br>
         La sua password per <b data-th-text="${realm.name}">AAC</b> è stata resettata.
         <br>
         Per aggiornare le credenziali, segua il link oppure clicchi <a href="#" th:href="${action.url}">qui</a>.
      </p>
      <p>Se non ha richiesto il reset della password, ignori questa mail e il link scadrà automaticamente.</p>
      <p>
         Si prega di contattare <a href="mailto:" th:href="'mailto:'+${application.email}">supporto</a> in caso di
         problemi con l'accesso.
      </p>
   </div>
</body>

</html>