<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header">
</head>

<body>
   <div th:fragment="message">
      <p>
         Estimado <span data-th-text="${user.name}">Mario</span> <span data-th-text="${user.surname}">Rossi</span>,
         <br>
         Se ha registrado en <b data-th-text="${realm.name}">AAC</b>
         <br>
         Para completar el registro, inicie sesión <a href="#" th:href="${action.url}">aquí</a>
         con la contraseña temporal <span data-th-text="${password}">contraseña</span>.
      </p>
      <p>
         Póngase en contacto con <a href="mailto:" th:href="'mailto:'+${application.email}">soporte</a> si tiene algún
         problema con el acceso.
      </p>
   </div>
</body>

</html>