<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header">
</head>

<body>
   <div th:fragment="message">
      <p>
         Lieber <span data-th-text="${user.name}">Mario</span> <span data-th-text="${user.surname}">Rossi</span>,
         <br>
         Sie wurden bei der <b data-th-text="${realm.name}">AAC</b> registriert.
         <br>
         Um die Registrierung abzuschlie\u00DFen, folgen Sie dem Link oder geben Sie <a href="#" th:href="${action.url}">hier</a>
         ein und melden Sie sich mit Ihrem vorl\u00E4ufigen Passwort <span data-th-text="${password}">Passwort</span> an.
      </p>
      <p>
         Bitte kontaktieren Sie den <a href="mailto:" th:href="'mailto:'+${application.email}">Support</a>, wenn Sie Probleme mit dem Zugang haben.
      </p>
   </div>
</body>

</html>