<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header">
</head>

<body>
   <div th:fragment="message">
      <p>
         Lieber <span data-th-text="${user.name}">Mario</span> <span data-th-text="${user.surname}">Rossi</span>,
         <br>
         Ihr Passwort f\u00FCr <b data-th-text="${realm.name}">AAC</b> wurde zur\u00FCckgesetzt.
         <br>
         Um Ihre Anmeldeinformationen zu aktualisieren, folgen Sie dem Link oder klicken Sie auf <a href="#" th:href="${action.url}">hier</a>.
      </p>
      <p>Wenn Sie kein Zur\u00FCcksetzen des Passworts angefordert haben, ignorieren Sie diese E-Mail und der Link l\u00E4uft automatisch ab.</p>
      <p>
         Bitte kontaktieren Sie den <a href="mailto:" th:href="'mailto:'+${application.email}">Support</a>, wenn Sie Probleme mit dem Zugang haben.
      </p>
   </div>
</body>

</html>