<div class="pt-3 mb-5">

    <fieldset>
        <legend class="mb-4">SAML2 SP Configuration</legend>
        <div class="row">
            <div class="form-group col">
                <div class="input-group">
                    <label for="samlMetadataUrl" class="active">Service provider metadata</label>
                    <input type="text" class="form-control" id="samlMetadataUrl" ng-model="samlMetadataUrl" readonly>
                    </span>
                    <div class="input-group-append">
                        <button class="btn btn-primary btn-sm  text-right" ng-click="copyText(samlMetadataUrl)">
                            <svg class="icon icon-sm icon-white">
                                <use xlink:href="./italia/svg/sprite.svg#it-copy"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col ">
                <label for="entityId">Entity ID</label>
                <input type="text" name="entityId" class="form-control form-control-sm" id="entityId"
                    ng-model="idp.configuration.entityId">
            </div>
        </div>
        <div class="py-3">Signing</div>
        <div class="row">
            <div class="form-group col ">
                <label for="signingKey">Signing Key</label>
                <textarea rows="5" name="signingKey" id="signingKey" ng-model="idp.configuration.signingKey"></textarea>
            </div>
            <div class="form-group col ">
                <label for="signingCertificate">Signing Certificate</label>
                <textarea rows="5" id="signingCertificate" name="signingCertificate"
                    ng-model="idp.configuration.signingCertificate"></textarea>
            </div>
        </div>
        <div class="py-3">Encryption</div>
        <div class="row">
            <div class="form-group col ">
                <label for="cryptKey">Encryption Key</label>
                <textarea rows="5" name="cryptKey" id="cryptKey" ng-model="idp.configuration.cryptKey"></textarea>
            </div>
            <div class="form-group col">
                <label for="cryptCertificate">Encryption Certificate</label>
                <textarea rows="5" id="cryptCertificate" name="cryptCertificate"
                    ng-model="idp.configuration.cryptCertificate"></textarea>
            </div>
        </div>

        <legend class="mb-4">SAML2 IdP Configuration</legend>


        <div class="form-group col ">
            <label for="idpMetadataUrl">IdP Metadata Discovery URL</label>
            <input type="text" name="idpMetadataUrl" class="form-control form-control-sm" id="idpMetadataUrl"
                ng-model="idp.configuration.idpMetadataUrl">
        </div>
        <div class="pt-0 pb-3 text-center"> -- OR -- </div>
        <div class="row">
            <div class="form-group col ">
                <label for="idpEntityId">Asserting Party Entity ID</label>
                <input type="text" name="idpEntityId" class="form-control form-control-sm" id="idpEntityId"
                    ng-model="idp.configuration.idpEntityId">
            </div>
            <div class="form-group col ">
                <label for="webSsoUrl">Login Service Location</label>
                <input type="text" name="webSsoUrl" class="form-control form-control-sm"
                    id="webSsoUrl" ng-model="idp.configuration.webSsoUrl">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-check">
                    <input class="form-check-input" name="signAuthNRequest" id="signAuthNRequest" type="checkbox"
                        ng-model="idp.configuration.signAuthNRequest">
                    <label for="signAuthNRequest">Sign auth. request</label>
                </div>
            </div>
            <div class="form-group col-md-3">
                <div class="bootstrap-select-wrapper border-bottom-0">
                    <label for="ssoServiceBinding">SSO Service Binding</label>
                    <select required title="Select one" id="ssoServiceBinding"
                        ng-model="idp.configuration.ssoServiceBinding">
                        <option value="HTTP-POST" ng-selected="idp.configuration.ssoServiceBinding=='HTTP-POST'">POST
                        </option>
                        <option value="HTTP-Redirect"
                            ng-selected="idp.configuration.ssoServiceBinding=='HTTP-Redirect'">Redirect
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col">
                <label for="verificationCertificate">Verification Certificate</label>
                <textarea rows="5" id="verificationCertificate" name="verificationCertificate"
                    ng-model="idp.configuration.verificationCertificate"></textarea>
            </div>
        </div>
        <div class="py-0 text-center text-danger small"
            ng-if="!idp.configuration.idpMetadataUrl && (!idp.configuration.webSsoUrl || !idp.configuration.webSsoUrl ||!idp.configuration.ssoServiceBinding)">
            Either metadata or Asserting party entity + login service + SSO service binding should be specified
        </div>

    </fieldset>
    <fieldset>
        <legend class="mb-4">SAML2 Advanced Configuration</legend>
        <div class="row">
            <div class="col-md-4 ">
                <div class="form-check">
                    <input class="form-check-input" name="forceAuthn" id="forceAuthn" type="checkbox"
                        ng-model="idp.configuration.forceAuthn">
                    <label for="forceAuthn">ForceAuthn</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-check">
                    <input class="form-check-input" name="isPassive" id="isPassive" type="checkbox"
                        ng-model="idp.configuration.isPassive">
                    <label for="isPassive">isPassive</label>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="form-group col ">
                <label for="nameIDFormat">NameID Format</label>
                <input type="text" name="nameIDFormat" class="form-control form-control-sm" id="nameIDFormat"
                    ng-model="idp.configuration.nameIDFormat">
            </div>
            <div class="col-md-3">
                <div class="form-check">
                    <input class="form-check-input" name="nameIDAllowCreate" id="nameIDAllowCreate" type="checkbox"
                        ng-model="idp.configuration.nameIDAllowCreate">
                    <label for="nameIDAllowCreate">Allow create</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col">
                <label class="active">AuthnContextClasses</label>
                <tags-input type="text" placeholder="Add contextClassRefs" ng-model="samlAuthnContextClasses">
                </tags-input>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend class="mb-4">Account Configuration</legend>
        <div class="row">
            <div class="col-md-4">
                <div class="form-check">
                    <input class="form-check-input" name="trustEmailAddress" id="trustEmailAddress" type="checkbox"
                        ng-model="idp.configuration.trustEmailAddress">
                    <label for="trustEmailAddress">trustEmailAddress</label>
                </div>
            </div>

            <div class="form-group col-md-6 ">
                <label for="userNameAttributeName">Username attribute</label>
                <input type="text" name="userNameAttributeName" class="form-control form-control-sm"
                    id="userNameAttributeName" ng-model="idp.configuration.userNameAttributeName">
            </div>

        </div>

        <div class="row">
            <div class="form-group col">
                <label for="subAttributeName">SAML attribute used as subject id</label>
                <textarea rows="1" id="subAttributeName" name="subAttributeName"
                          ng-model="idp.configuration.subAttributeName"></textarea>
            </div>
        </div>
    </fieldset>
</div>