body {
    padding-left: calc(100vw - 100%);
}

.italia-it-button {
    display: inline-block;
    position: relative;
    padding: 0;
    color: #FFF;
    font-family: "Titillium Web", HelveticaNeue, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
    font-weight: 600;
    line-height: 1.5em;
    text-decoration: none;
    border: 0;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    border-radius: 4px
}

.italia-it-button-icon,
.italia-it-button-text {
    display: block;
    float: left
}

.italia-it-button-icon {
    margin: 0.25em 0 0 0.5em;
    padding: 0.5em 0.5em 0.5em 0.5em;
    border-right: rgba(255, 255, 255, 0.1) 0.1em solid
}

.italia-it-button-text {
    padding: 13px 16px
}

.italia-it-button-size {
    font-size: 16px;
    width: 280px;
    height: 50px
}

.italia-it-button-size>span img {
    width: 24px;
    height: 24px;
    border: 0
}

.button-spid {
    background-color: #06C;
    color: #FFF;
}

.button-spid svg {
    fill: #FFF
}

.button-spid:hover {
    background-color: #036;
    color: #FFF
}

.button-spid:active {
    background-color: #83BEED;
    color: #036
}

.button-spid:focus {
    outline: none !important;
}

.spid-idp-button {
    position: absolute;
    z-index: 1039;
    display: none
}

.spid-idp-button-open {
    display: block;
}

.spid-idp-button .spid-idp-button-menu {
    list-style: none;
    background: white;
    border: solid 1px #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    overflow: visible;
    padding: 0;
    margin: 0
}

.spid-idp-button-get {
    width: 270px
}

.spid-idp-button.spid-idp-button-tip {
    margin-top: 8px
}

.spid-idp-button.spid-idp-button-tip:before {
    position: absolute;
    top: -6px;
    left: 9px;
    content: "";
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ddd;
    display: inline-block
}

.spid-idp-button.spid-idp-button-tip:after {
    position: absolute;
    top: -5px;
    left: 10px;
    content: "";
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid white;
    display: inline-block
}

.spid-idp-button .spid-idp-button-menu li {
    list-style: none;
    padding: 0 0;
    margin: 0;
    line-height: 18px;
    text-align: left !important;
}

.spid-idp-button .spid-idp-button-menu li>a,
.spid-idp-button .spid-idp-button-menu label {
    display: block;
    font-family: "Titillium Web", HelveticaNeue, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
    font-weight: 600;
    font-size: .9em;
    color: #06C;
    text-decoration: underline;
    line-height: 18px;
    padding-top: 5px;
    white-space: nowrap;
    border-bottom: 1px solid #ddd;
}

.spid-idp-button .spid-idp-button-menu li>a:hover,
.spid-idp-button .spid-idp-button-menu label:hover {
    color: #036;
    cursor: pointer;
    background-color: #F0F0F0
}

.spid-idp-button .spid-idp-button-menu li>a img {
    height: 25px;
    padding: 10px 0 10px 10px;
    box-sizing: content-box !important;
    border: 0
}

.spid-sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}

.dropdown-region {
    margin: auto;
    width: fit-content;
    height: 50px;
}